<%- contentFor("head") %> 
<title>Profile</title>
<link rel="stylesheet" href="/public/stylesheets/pages/profile/profile.css">

<%- contentFor("body") %> 

<div class="row">
    <div class="col-sm-12 profile_header">
        <div class="overlay_profile">
            <div class="profile_info">
                <img src="/public/assets/images/blog/user2.png" alt="">
                <div class="profile_info_detail">
                    <h4>Ngô Gia Thái</h4>
                    <p>1 following 200 follower</p>
                    <p>Gold <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                    <p>Level 12</p>
                </div>
            </div>
        </div>
       <div class="row content_profile">
           <div class="col-sm-3"></div>
          <div class="col-sm-3 push-3 profile_left">
            <div class="progress_part">
                <div class="progress_head">
                    <h5>Courses Progress</h5>
                    <a href="">Manage</a>
                </div>
                <ul>
                    <li>
                        <img src="/public/assets/images/course/php.png" alt="">
                        <input type="range" name="" id="">
                        <i class="far fa-play-circle"></i>
                    </li>
                    <li>
                        <img src="/public/assets/images/course/html.png" alt="">
                        <input type="range" name="" id="">
                        <i class="far fa-play-circle"></i>
                    </li>

                    <li>
                        <img src="/public/assets/images/course/js.png" alt="">
                        <input type="range" name="" id="">
                        <i class="far fa-play-circle"></i>
                    </li>

                </ul>
                <button class="btn btn-success">Browser Courses</button>
            </div>
            <div class="certificate_wrap">
                <div class="certificate_head">
                   <h5>Certificate</h5>
                   <div class="move_slide">
                       <i class="fas fa-angle-left" id="ctfc_left"></i>
                       <i class="fas fa-angle-right" id="ctfc_right"></i>
                   </div>
                </div>
                <div class="certificate_slide">
                   <div class="certificate_item">
                       <img src="/public/assets/images/course/php.png" alt="">
                       <h6>PHP</h6>
                   </div>
                   <div class="certificate_item">
                       <img src="/public/assets/images/course/js.png" alt="">
                       <h6>Javascript</h6>
                   </div>
                   <div class="certificate_item">
                       <img src="/public/assets/images/course/python.png" alt="">
                       <h6>Python</h6>
                   </div>
                   <div class="certificate_item">
                       <img src="/public/assets/images/course/swift.png" alt="">
                       <h6>Swift</h6>
                   </div>
                   <div class="certificate_item">
                    <img src="/public/assets/images/course/rb.png" alt="">
                    <h6>Ruby</h6>
                </div>
                </div>
            </div>
          </div>
          <div class="col-sm-3 profile_right">
            <div class="achivement">
                <h5>Recent Achivement</h5>
                <div class="medal">
                    <i class="fas fa-medal"></i>
                    <i class="fas fa-trophy"></i>
                    <i class="fas fa-award"></i>
                    <i class="fas fa-crown"></i>
                </div>
                <h5>Next task</h5>
                <div class="next_task">
                    <i class="fas fa-running"></i>
                    <div class="next_task_content">
                        <p>Courses master</p>
                        <p>Totally 10 courses</p>
                    </div>
                </div>
                <button class="btn btn-primary">See more</button>
            </div>
            <div class="coach_wrap">
                <div class="coach_head">
                    <div class="head_content">
                        <h5>Certificate</h5>
                        <p>Hey! you miss on some challenage</p>
                    </div>
                   <div class="moveCoach_slide">
                       <i class="fas fa-angle-left" id="coachMove_left"></i>
                       <i class="fas fa-angle-right" id="coachMove_right"></i>
                   </div>
                </div>
                <div class="coach_slide">
                   <div class="coach_item">
                       <div class="coach_item_head">
                            <i class="far fa-grin-stars"></i>
                            <div class="coach_item_head_cotent">
                                <p>Your first program</p>
                                <p>Python is fun! let everyone know about it</p>
                            </div>
                       </div>
                       <div class="coach_item_btn">
                        <button class="btn btn-primary btn-sm">python core</button>
                        <button class="btn btn-warning btn-sm">pro</button>

                       </div>
                       <button class="btn btn-primary">
                           unlock
                           <i class="far fa-gem"></i>
                           100
                       </button>
                   </div>
                   <div class="coach_item">
                    <div class="coach_item_head">
                         <i class="far fa-grin-stars"></i>
                         <div class="coach_item_head_cotent">
                             <p>Your first program</p>
                             <p>Python is fun! let everyone know about it</p>
                         </div>
                    </div>
                    <div class="coach_item_btn">
                     <button class="btn btn-primary btn-sm">python core</button>
                     <button class="btn btn-warning btn-sm">pro</button>

                    </div>
                    <button class="btn btn-primary">
                        unlock
                        <i class="far fa-gem"></i>
                        100
                    </button>
                </div>
                </div>
            </div>
          </div>
          <div class="col-sm-3"></div>
       </div>
    </div>
</div>