
header{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  background: var(--secondary);
  position: sticky;
  top: 0;
  z-index: 10;
}

header a img{
  height: 3rem;
}

header ul li{
  display: inline-block;
  font-size: 1.3rem;
  padding: 0 .5rem;
}
header ul li a{
  color: gray;
  text-decoration: none;
  text-transform: capitalize;
}
header ul li a:hover{
  color: var(--primary);
}

header .header-btn-wrapper button{
  padding: 1rem 3rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
header .header-btn-wrapper button:first-of-type{
  border: 1px solid var(--primary);
  background-color: transparent;
  color: white;
}
header .header-btn-wrapper button:last-of-type{
  background-color: var(--primary);
  color: white;
}
/* header */
/* ------------------------------------------------------------- */

#header-user-btn{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0 !important; 
  background: url('/public/assets/images/user.png') center;
  background-size: 3rem 3rem;
}
