<%- contentFor("head") %> 
<title>Tất cả khóa học</title>
<link rel="stylesheet" href="/public/stylesheets/pages/codingPlayground/codingPlayground.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%- contentFor("body") %> 

<div  class = "row">
    <div class="col-lg-8" style = "padding: 1.5rem;padding-left:5rem">
        <div class = "body__playground shadow">
            <h3 class = "body__playground__title">Code Playground</h3>
            <div class = "body__playground__searchArea flex flex-jc-sb">
                <button class= "body__playground__searchArea--newBtn">LUYỆN TẬP CODE</button>
                <span style="width: 50%; margin-right:0;">
                    <button class= "body__playground__searchArea--searchBtn"><i class="fas fa-search"></i></button> 
                    <input class= "body__playground__searchArea--searchBox" type="text" name="search-content" placeholder="Nhập từ khóa...">
                    
                </span>
            </div>
            <span style= "float:right; width: 100%;">
                <div class = "m-3 mb-0" style="width: 10%; float: right;">
                    <select class="form-select d-inline body__playground__filterArea--filter" aria-label=".form-select-lg example">
                        <option value="0" selected>Tất cả</option>
                        <option value="1">Web</option>
                        <option value="2">C++</option>
                        <option value="3">C</option>
                        <option value="4">C#</option>
                        <option value="5">Java</option>
                        <option value="6">Python</option>
                        <option value="7">PHP</option>
                        <option value="8">Ruby</option>                      
                        <option value="10">swift</option>
                        <option value="11">NodeJS</option>
                        <option value="12">GoLang</option>                   
                    </select>
                </div>
                <p class = "m-2 mt-4 mb-0" style="display: inline; float:right;font-weight: bold;">Show: </p>
                
            </span>
            <div class = "body__playground__filterArea flex flex-jc-sb">
                <ul class="nav nav-tabs w-100">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">Nổi bật</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Gần đây</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nhiều người dùng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Code của tôi</a>
                    </li>
                </ul>
            </div>
            <div class = "body__playground__contents">
                <ul style="list-style:none;">
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon cpp">
                                    <p>C++</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <a href="/codingPlayground/code"><p class = "name">Hàm trong c++</p></a>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Ngô Gia Thái</p>
                                        <p class = "date">11 tháng 8 năm 2018, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon web">
                                    <p>WEB</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <p class = "name">Lộ trình học HTML, CSS và Javascript cơ bản để tạo trang web đầu tiên</p>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Nguyễn Hữu Khang</p>
                                        <p class = "date">13 tháng 7 năm 2021, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon py">
                                    <p>PY</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <p class = "name">Trở thành Data Science Python</p>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Khang Mập</p>
                                        <p class = "date">14 tháng 8 năm 2021</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon web">
                                    <p>WEB</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <p class = "name">Tạo project với Reatjs + Redux + TypeScript</p>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Lâm Trường Sơn</p>
                                        <p class = "date">13 tháng 2 năm 2022, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                            
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon java">
                                    <p>JAVA</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <p class = "name">Cách chuyển đổi dữ liệu trong Java</p>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Kim Như</p>
                                        <p class = "date">13 tháng 5 năm 2018, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon cpp">
                                    <p>CPP</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <p class = "name">Lập trình game con rắn với C++</p>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Khang Ốm</p>
                                        <p class = "date">13 tháng 7 năm 2019, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon cpp">
                                    <p>CPP</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <p class = "name">C++ cơ bản đến nâng cao</p>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Johny Đặng</p>
                                        <p class = "date">23 tháng 9 năm 2019, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon web">
                                    <p>WEB</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <p class = "name">Phân biệt server side rendering và client side rendering</p>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Thích Nhất Hạnh</p>
                                        <p class = "date">5 tháng 9 năm 2020, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon py">
                                    <p>PY</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <a href="/codingPlayground/code"><p class = "name">Lập trình game với Python</p></a>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">My mặt bự</p>
                                        <p class = "date">12 tháng 6 năm 2020, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon web">
                                    <p>WEB</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <p class = "name">Lựa chọn framework nào của Javascript để làm Web</p>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Minh Niệm</p>
                                        <p class = "date">12 tháng 8 năm 2019, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                            
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon java">
                                    <p>JAVA</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <p class = "name">Java từ cơ bản đến nâng cao</p>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Gia Huy</p>
                                        <p class = "date">9 tháng 8 năm 2021, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                    </div>
                    <hr class = "solid">
                    </li>
                    <li>
                        <div style="height: 80px;">
                            <div class = "body__playground__contents--icon cpp">
                                    <p>CPP</p>
                            </div>
                            <div class = "body__playground__contents--info">
                                <div style="width: 60%; float:left; height: 100%;">
                                    <p class = "name">Học C++ ra làm gì?</p>
                                
                                    <div style="display: inline-block;width: 50;">
                                        <button class = "rButton"><i class="fas fa-chevron-up"></i></button>
                                        <p class = "rating">+20821</p>
                                        <button class = "rButton"><i class="fas fa-chevron-down"></i></button>
                                    </div>
                                 
                                </div>
                                <div style="float:right; text-align: right; width: 30%;">
                                    <div style="float:left">
                                        <p class = "author">Sang Vlogs</p>
                                        <p class = "date">13 tháng 6 năm 2021, 8:59PM</p>
                                    </div>
                                    <image class = "avatar" src = "/public/assets/images/codingPlayground/gai.jpg">
                                </div>
                            </div>
                    </div>
                    </li>
                    <div class = "body__playground__pages">
                        <button class = "pButton active">1</button>
                        <button class = "pButton">2</button>
                        <label>. . .</label>
                    </div>
                </ul>
            </div>   
        </div>
    </div>
    <div class="col-lg-4" style = "padding: 1.5rem;padding-left:3rem;padding-top:3rem;padding-right:5rem">
        <div class = "body__hotNew shadow">
            <h3 class = "body__hotNew__title">Tin nổi bật hôm nay</h3>
            <div class = "body__hotNew__contents">
                <ul style="list-style: none;">
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="#">Tại sao JavaScript lại hot?</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="#">😉 Tất cả về CSS 😉( Trở thành web Developer )</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="#">Chú ý!!! (Login form đơn giản và đẹp)</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="#">|🍁HTML 4🌞HTML5🍂| Khác nhau chỗ nào?</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="#">♟️Game cờ vua với C++♟️</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="#">Javascript nâng cao</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="#">Làm trang Profile cực đẹp với ReactJS </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="#">Lập trình WPF C#</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="#">Mô hình MVVM, Ý tưởng của MVC</a>
                    </li>
                   
                    
                </ul>
            </div>
        </div>
    </div>
    
</div>

