* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: url(/public/assets/images/blog/background.png); */
    background-color: white;
}



.wrap {
    background: white;
}

.header_search {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header_search .image {
    width: 100px;
    height: 100px;
    margin-left: 48px;
}

.header_search .image img {
    width: 100%;
    height: 100%;
}

.header_search .search_box {
    margin-right: 100px;
    position: relative;
    height: 40px;
    width: 400px;
}

.header_search .search_box input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    border: 2px solid #efeef1;
    outline: none;
}

.header_search .search_box i {
    position: absolute;
    height: 100%;
    width: 40px;
    line-height: 40px;
    background-color: teal;
    color: white;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 15px;
}

.header_search .search_box i:hover {
    background-color: rgb(1, 94, 94);
    cursor: pointer;
}

.navigation {
    height: 50px;
    position: relative;
    margin-top: 10px;
}

.navigation::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 64px;
    background: url(../images/nav-left-teal.png) no-repeat scroll center center;
    left: -16px;
    top: -1px;
}

.navigation::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 64px;
    background: url(../images/nav-right-teal.png) no-repeat scroll center center;
    right: -16px;
    top: -1px;
}

.navigation .list {
    height: 100%;
    width: 100%;
    background-color: #00BBA6;
    list-style: none;
    padding-left: 50px;
}

.navigation .list .item {
    display: inline-block;
    height: 100%;
    line-height: 50px;
    padding: 0;
    margin-left: -5px;
    position: relative;
}

.navigation .list .item:hover .sub_list {
    opacity: 1;
    visibility: visible;
    transform: scaley(1);
}

.navigation .list .item .sub_list {
    position: absolute;
    z-index: 1000;
    box-shadow: 0 2px 2px 2px rgb(0, 0, 0, 0.2);
    width: 300px;
    background: url(/images/background.png);
    opacity: 0;
    visibility: hidden;
    transform: scaley(0);
    transform-origin: 0 0 0;
    transition: .3s;
}

.navigation .list .item .sub_list ul {
    list-style: none;
}


.navigation .list .item .sub_list ul li:hover {
    background-color: rgba(154, 154, 154, 0.2);
}

.navigation .list .item .sub_list ul li:hover a {
    color: #00BBA6;
}

.navigation .list .item .sub_list ul li a {
    color: rgb(57, 57, 57);
    text-decoration: none;
    font-weight: 400;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    margin-left: 15px;
   padding: 3px 0;
   display: inline-block;
   width: 80%;
}

.navigation .list .item .sub_list ul li:last-child a {
    border-bottom: none;
}

.navigation .list .item .item_link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    font-weight: 500;
    display: inline-block;
    padding: 0 15px;
}

.navigation .list .item .item_link:hover {
    background-color: teal;
}

.item.active {
    background-color: teal;
}

.breadcums {
    background-color: #EEEEEE;
    height: 48px;
}

.breadcums ul {
    list-style: none;
    padding-left: 40px;
}

.breadcums ul li {
    display: inline-block;
    height: 100%;
    line-height: 48px;
    margin-right: 10px;
}

.breadcums ul li:first-child {
    font-weight: bold;
    font-size: 14px;
}

.breadcums ul li:nth-child(2) i {
    font-size: 12px;
    color: #00BBA6;
}

.breadcums ul li:last-child {
    font-weight: bold;
    font-size: 14px;
    color: #00BBA6;
}


/* js item */

.js_heading {
    border-bottom: 5px solid #F27232;
    padding-bottom: 10px;
    width: 100%;
    margin-left: -15px;
    text-transform: uppercase;
    font-size: 20px;
}

.js_item {
    height: 200px;
    padding: 10px 0;
    display: flex;
    text-decoration: none;
    color: black;
}

.js_item:hover {
    text-decoration: none;
    color: black;
}

.js_item:hover .js_item-content h5 {
    color: #F27232;
}

.js_item:hover .js_item-img img {
    transform: scale(1.2);
}

.js_item .js_item-img {
    flex: 30%;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 5px;
}

.js_item .js_item-img img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.js_item .js_item-content {
    flex: 70%;
}

.js_item .js_item-content .desc {
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.js_item .js_item-content-head {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.js_item .js_item-content-head p:first-child {
    background-color: #F27232;
    padding: 4px 8px;
    border-radius: 16px;
    margin-right: 10px;
    font-size: 12px;
    color: white;
}

.js_item .js_item-content-head p:last-child {
    font-size: 12px;
}


/* end js item */


/* start reactjs item */

.react_heading {
    margin-top: 50px;
    border-bottom: 5px solid #3B5998;
    padding-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
}

.slide_react {
    overflow: hidden;
    position: relative;
    height: 270px;
}

.slide_react span {
    position: absolute;
    top: 30%;
    font-size: 60px;
    font-weight: bold;
    color: orangered;
    z-index: 1;
    user-select: none;
    cursor: pointer;
}

.slide_react span:nth-of-type(2) {
    left: 98%;
    text-align: right;
}

.slide_react .mainslide_react {
    width: 1040px;
    display: flex;
    justify-content: left;
    overflow-x: auto;
    margin: 10px auto;
    height: 270px;
}

.slide_react .mainslide_react::-webkit-scrollbar {
    visibility: hidden;
}

.react_item {
    width: 240px;
    height: 250px;
    margin-top: 20px;
    margin: 0 10px;
    position: relative;
    left: 0;
    transition: .3s;
    box-shadow: 0 0 3px gray;
}

.react_item .react_item-img {
    width: 240px;
    height: 134px;
    overflow: hidden;
}

.react_item .react_item-img img {
    width: 100%;
    height: 100%;
}

.react_item .react_item-content {
    padding: 5px;
}

.react_item .react_item-content h6 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 40px;
    line-height: 20px;
}

.react_item .react_item-content .desc {
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.react_item .react_item-content-head {
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
}

.react_item .react_item-content-head p:first-child {
    background-color: #3B5998;
    padding: 4px 8px;
    border-radius: 16px;
    margin-right: 10px;
    font-size: 12px;
    color: white;
}

.react_item .react_item-content-head p:last-child {
    font-size: 12px;
}


/* end reactjs item */


/* htmlcss */

.htmlcss {
    overflow: hidden;
}

.htmlcss_image {
    height: 180px;
    position: relative;
}

.htmlcss_image h4 {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px
}

.htmlcss_list {
    list-style: none;
    margin-top: 10px;
}

.htmlcss_link {
    display: flex;
    text-decoration: none;
    color: black;
    height: 80px;
    padding: 5px 0;
    margin-top: 10px;
}

.htmlcss_link:hover {
    color: rgb(1, 1, 186);
    text-decoration: none;
}

.htmlcss_link:hover .htmlcss_img img {
    transform: scale(1.2);
}

.htmlcss_link .htmlcss_img {
    flex: 30%;
    overflow: hidden;
}

.htmlcss_link .htmlcss_img img {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.htmlcss_link .htmlcss_content {
    flex: 70%;
    margin-left: 10px;
    padding-top: 10px;
}

.htmlcss_link .htmlcss_content h6 {
    font-size: 13px;
    height: 30px;
    line-height: 15px;
}

.htmlcss_image img {
    width: 100%;
    height: 100%;
}


/* end htmlcss */


/* phần infomation */

.infomation {
    text-align: center;
    margin: auto 0;
    padding: 10px;
    background: url(../images/background.png);
    border-radius: 5px;
    height: 100%;
}

.infomation .infomation_img {
    width: 100px;
    height: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.infomation .infomation_img {
    width: 100px;
    height: 100px;
}

.infomation .infomation_img img {
    width: 100%;
    height: 100%;
}


/* end infomation */


/* phần sidebar search box */
.sidebar_searchbox_wrap {
    background: url(../images/background.png);
    padding: 20px;
    margin-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.sidebar_searchbox {
    margin: auto;
    padding: 5px 0;
    position: relative;
    height: 32px;
    width: 90%;

   
  
}

.sidebar_searchbox input {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0 10px;
    font-size: 12px;
    outline: none;
}

.sidebar_searchbox i {
    background-color: teal;
    color: white;
    padding: 5px;
    right: 0;
    height: 32px;
    top: 0;
    width: 32px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    position: absolute;
}

.sidebar_searchbox i:hover {
    background-color: rgb(1, 86, 86);
    cursor: pointer;
}


/* end sidebar search box */


/* phần category */

.sidebar {
    padding: 20px;
    background: url(/public/assets/images/blog/background.png);
    position: sticky;
}

.category h4 {
    padding-top: 10px;
    position: relative;
}

.category ul {
    list-style: none;
    padding-left: 10px;
}

.category ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 36px;
    position: relative;
}

.category ul li a:hover {
    color: teal;
    font-weight: bold;
}

.category ul li a i {
    margin-right: 5px;
    font-size: 12px;
}


/* kết thúc category */

.topview_list {
    list-style: none;
    padding-left: 10px;
}

.topview_list li a {
    text-decoration: none;
    color: white;
    height: 80px;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 10px 0;
    color: black;
}

.topview_list li a:hover .topview_img img {
    transform: scale(1.1);
}

.topview_list li a:hover .topview_content {
    color: teal;
}

.topview_list li a .topview_img {
    flex: 20%;
    overflow: hidden;
    height: 100%;
    border-radius: 50%;
}

.topview_list li a .topview_img img {
    width: 100%;
    height: 100%;
}

.topview_list li a .topview_content {
    margin-left: 10px;
    flex: 80%;
}

.topview_list li a .topview_content h6 {
    font-size: 12px;
    margin: 5px 0;
}

.topview_list li a .topview_content .topview_content-head {
    display: flex;
    justify-content: space-between;
}

.topview_list li a .topview_content .topview_content-head p:first-child {
    font-size: 12px;
    margin: 0;
}

.topview_list li a .topview_content .topview_content-head p:last-child {
    font-size: 12px;
    margin-right: 30px;
}


/* phần topview */

.about-me .popular_tag {
    list-style: none;
    margin: 30px 0;
}

.about-me .popular_tag li {
    display: inline-block;
    margin-right: 20px;
}

.about-me .popular_tag li a {
    color: black;
    text-decoration: none;
    background-color: #dcdbdb;
    padding: 5px 30px;
    border-radius: 21px;
}

.aboutme1 {
    list-style: none;
}

.aboutme1 li a {
    text-decoration: none;
    color: black;
    display: flex;
    height: 110px;
    padding: 16px 0;
    border-bottom: 1px solid gray;
}

.aboutme1 li a:hover {
    color: orange;
}

.aboutme1 li:last-child a {
    border: none;
}

.aboutme1 li a .abm1_image {
    flex: 35%;
    overflow: hidden;
}

.aboutme1 li a .abm1_content {
    flex: 65%;
    margin-left: 10px;
}

.aboutme1 li a .abm1_image img {
    width: 100%;
    height: 100%;
}

.aboutme1 li a .abm1_content h5 {
    font-size: 14px;
}

.aboutme1 li a .abm1_content p {
    font-size: 12px;
}

.aboutme1 li a .abm1_content p i {
    margin-right: 5px;
}

.aboutme2 .abm2_img {
    height: 400px;
    overflow: hidden;
}

.aboutme2 .abm2_img img {
    width: 100%;
    height: 100%;
}

.aboutme2 .abm2_content {
    margin-top: 20px;
}

.aboutme2 .abm2_content h3 {
    font-size: 20px;
}

.aboutme3 {
    text-decoration: none;
    color: black;
}

.aboutme3 .abm3_img {
    height: 160px;
    overflow: hidden;
}

.aboutme3 .abm3_img img {
    width: 100%;
    height: 100%;
}

.aboutme3 .abm3_content {
    margin-top: 10px;
}

.aboutme3 .abm3_content p i {
    margin-right: 10px;
}

.aboutme3 .abm3_content h5 {
    font-size: 18px;
}


/* end topview */

/* phần lagmenu */
.large_menu {
    position: relative;
}

.large_menu_div {
    position: absolute;
    width: 1140px;
    background: rgb(118, 95, 95);
    z-index: 1000;
    left: -662px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 2px 5px gray;
    background: url(/images/background.png);
    opacity: 0;
    visibility: hidden;
    transform: scaley(0);
    transform-origin: 0 0 0;
    transition: .3s;
}

.large_menu_div::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 20px;
    top: -8px;
    right: 355px;
    background: none;
}

.large_menu_div ul {
    padding-left: 0;
}

.large_menu_div ul li a {
    color: black;
}

.large_menu_div ul li a:hover {
    color: orangered;
    text-decoration: none;

}

.large_menu:hover .large_menu_div {
    opacity: 1;
    visibility: visible;
    transform: scaley(1);
}



/* back to top */
.backToTop {
    position: fixed;
    right: 50px;
    bottom: 30px;
    background: teal;
    color: white;
    width: 40px;
    height: 40px;
   line-height: 40px;
   text-align: center;
   border-radius: 50%;
   box-shadow: 0 2px 5px gray;
   cursor: pointer;
   display: none;

}

.backToTop:hover {
    background: rgb(0, 71, 71);
}

.btnEntrance {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: Entrance;
}


@keyframes Entrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0,0);
    }
}

.btnExit {
    animation-duration: .25s;
    animation-fill-mode: both;
    animation-name: Exit;
}


@keyframes Exit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%,0);
      
    }
}