@import url('./components/footer.css');
@import url('./components/header.css');
@import url('./settings/variables.css');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
button{
  border: none;
  cursor: pointer;
  outline: none !important;
  border-radius: .25rem;
}
a{
  text-decoration: none;
}

