<div class="comment-container">
  <div class="row">
    <div class="col-1">
      <div class="avatar-box"><i class="far fa-user"></i></div>
    </div>
    <div class="col ms-4">
      <h4>Name</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
      <p>reply &bull; 100likes &bull; <i class="fas fa-thumbs-up"></i></p>
    </div>
  </div>
</div>