
<div style="padding: 4rem 0;" class="container-fluid bg-light" >
  <div class="d-flex justify-content-center align-items-center">
    <img style="margin-right: 1rem;" src="/public/assets/images/blog/no-result-icon.png" alt="">
    <p style="font-size: 2rem; color: gray;">Không tìm thấy kết quả</p>
  </div>
</div>