<%- contentFor('head') %>
<title>Tìm hiểu về Front End và Back End trong lập trình</title>
<script src="/public/javascripts/post-detail.js"></script>
<link rel="stylesheet" href="/public/stylesheets/pages/blog/detail.css" />

<%- contentFor('body') %>
<div id="main">
    
</div>
