<%- contentFor('head') %> 
<title>Chi tiết bài viết</title>
<script src="/public/javascripts/post-detail.js"></script>
<link rel="stylesheet" href="/public/stylesheets/pages/blog/detail.css">

<%- contentFor('body') %> 
<div id="main">
    <div class="img-container">
    </div>
    <div class="post-section">
      <div class="main-post-section">
        <div class="post-content">
          <h5 class="post-type">Technology</h5>
          <h1>What are Frontend and backend?</h1>
          <div class="head">
            <div class="d-flex justify-content-between">
              <div>
                <a href="#"><i class="far fa-user"></i> Huu Thuan</a>
                <p class="posted-date"><i class="far fa-clock"></i> Thursday, 10/14/2021 19:05 (GMT+7)</p>
              </div>
              <p><i class="far fa-eye"></i> 120</p>
            </div>
          </div>
          <p>Answer from you <a href="https://hoovada.com/profile/nguyen-phuc" target="_blank">Nguyen Phuc</a> - a
            member of <a href="https ://hoovada.com/" target="_blank"></a>Hoovada lives in HCMC</p>
          <h2 id="item-1">1 About</h2>
          <p>Each party needs to communicate and work effectively with the other to improve the website's
            functionality.</p>
          <h2 id="item-2">2 Front end</h2>
          <h4 id="item-2-1">2.1 About</h4>
          <p><strong>Front End Development:</strong> The front end or 'customer side' of a website or application is
            where the user interacts directly. It includes everything that users experience directly including
            colors and styles of text, images, and more. The structure, design, behavior, and content of everything
            that's visible on the browser screen when websites, web apps, or mobile apps are opened, was made by
            Front End developers. The main goal of Front End is responsiveness and performance. The developer must
            ensure that the website is responsive, i.e. it appears correctly on devices of any size and there are no
            parts that are inoperable.</p>
          <h4 id="item-2-2">2.2 Language</h4>
          <p><strong>Language of the Front End:</strong> The Front End section is built using some of the following
            languages:</p>
          <ul>
            <li>HTML: Hypertext Markup Language (HTML) is a combination of hypertext and markup language, used to
              design the user interface part of web pages. Hypertext defines links between web pages and markup
              language is used to define text documents in tags that define the structure of web pages.</li>
            <li>CSS: Cascading Style Sheets (CSS) is a simple language designed to simplify the process of making
              web pages displayable. CSS allows you to apply styles to web pages. More importantly, CSS allows you
              to do this independently of the HTML that makes up each web page.</li>
            <li>JavaScript: JavaScript is a well known scripting language that is used to cast magic on web pages to
              make web pages interactive for users. It is used to enhance the functionality of a website to run
              interesting games and web-based software.</li>
          </ul>
          <h4 id="item-2-3">2.3 Working with the front end</h4>
          <p>There are many other languages &ZeroWidthSpace;&ZeroWidthSpace;through which one can do front-end development depending on the
            framework e.g. Flutter user Dart, React using JavaScript and Django using Python etc.</p>
          <p><strong>Front End Frameworks and Libraries:</strong></p>
          <ul>
            <li>AngularJS: AngularJs is an open source JavaScript front-end framework used primarily for developing
              single-page web applications (SPA). It is a constantly evolving and expanding framework that provides
              better ways to develop web applications. It changes static HTML to dynamic HTML. It is an open source
              project that is possibly free. It extends HTML attributes with Directives and associated data with
              HTML.</li>
            <li>React.js: React is a declarative, efficient, and flexible JavaScript library for building user
              interfaces. ReactJS is an open source component-based front-end library that is only responsible for
              the application's view layer. It is maintained by Facebook.</li>
            <li>Bootstrap: Bootstrap is a collection of free and open source tools for creating responsive websites
              and web applications. It is the most popular HTML, CSS, and JavaScript framework for developing
              responsive, mobile-first websites.</li>
            <li>jQuery: jQuery is an open source JavaScript library that simplifies the interactions between an
              HTML/CSS document, or more precisely, the Document Object Model (DOM) and JavaScript. Building on
              terms, jQuery simplifies browsing and manipulating HTML documents, browser event handling, DOM
              animations, Ajax interactions, and cross-browser JavaScript development.</li>
            <li>SASS: This is the most reliable, fully developed and powerful CSS extension language. It is used to
              extend the functionality of a web page's existing CSS to include everything from variables,
              inheritance, and nesting with ease.</li>
            <li>Flutter: Flutter is an open source UI development SDK managed by google. It is
              provided by the Dart programming language. It builds efficient natively compiled applications and
              beautiful for mobile (Ios, Android), web and desktop from a single codebase. Sale point
              Flagship's main line is flat development made easier, expressive user interface,
              flexibility and original performance. In March 2021, Flutter 2 announced Flutter 2 where upgrades
              Upgraded tier to build publishing apps for web and desktop in the state
              beta.</li>
          </ul>
          <p>Some other libraries and frameworks are Semantic-UI, Foundation, Materialize, Backbone.js, Ember.js,
            etc.</p>
          <h2 id="item-3">3 Backend</h2>
          <h4 id="item-3-1">3.1 About</h4>
          <p><strong>Back End Development:</strong> The Back End is the server side of the website. It takes care of
            storing and organizing the data as well as making sure the website user side works well. It is the part
            of the website that the user cannot see or interact with. Parts and features developed by Back End
            designers are accessed indirectly by users through a front-end application. Activities such as writing
            APIs, creating libraries, and working with system components are also included in the Back End.</p>
          <h4 id="item-3-2">3.2 Language</h4>
          <p><strong>Language of the Back end:</strong> The back end is built using some of the following languages:
          </p>
          <ul>
            <li>PHP: PHP is a server-side scripting language specifically designed for web development. Since PHP
              code is executed on the server side, so it is called a server side scripting language.</li>
            <li>C++: It is a general-purpose programming language and is widely used today for competitive
              programming. It is also used as an auxiliary language.</li>
            <li>Java: Java is one of the most popular programming languages &ZeroWidthSpace;&ZeroWidthSpace;and platforms. It is highly scalable.
              Java components are always available.</li>
            <li>Python: Python is a programming language that allows you to work quickly and integrate systems more
              efficiently.</li>
            <li>JavaScript: JavaScript can be used for both front end and back end.</li>
            <li>Node.js: Node.js is an open source and cross-platform runtime environment for executing JavaScript
              code outside of the browser. Most people confuse Node.js as a framework or a programming language but
              that is completely incorrect. Node.js is commonly used to build back-end services like APIs like Web
              App or Mobile App as well as in production by big companies like Paypal, Uber, Netflix, Wallmart etc.
            </li>
          </ul>
          <h4 id="item-3-3">3.3 Working with the backend</h4>
          <p><strong>Back End Framework:</strong></p>
          <p>The list of back-end frameworks is: Express, Django, Rails, Laravel, Spring, etc.</p>
          <p>Other back-end programming/scripting languages &ZeroWidthSpace;&ZeroWidthSpace;are C#, Ruby, REST, GO, etc.</p>
          <p>**Difference between Frontend and Backend: **</p>
          <p>The development of Frontend and Backend are quite different, but they are still two aspects of the same
            job. Frontend is what users see and interact with and Backend is how things work.</p>
          <p>Front End is the part of a web page that the user can see and interact with such as a graphical user
            interface (GUI) and command line including design, menu navigation, text, images, videos and many other
            things. In contrast, the Back End is the part of the website that the user cannot see and interact with.
          </p>
          <p>The visual aspects of a website that users can see and experience are Front End. On the other hand,
            everything that happens in the background can be attributed to the Back End.</p>
          <p>The languages &ZeroWidthSpace;&ZeroWidthSpace;commonly used for Front End are HTML, CSS, JavaScript while Back End use languages
            &ZeroWidthSpace;&ZeroWidthSpace;like Java, Ruby, Python, .Net.</p>
          <p>Answer from you <a href="https://hoovada.com/profile/nguyen-phuc" target="_blank">Nguyen Phuc</a> - a
            member of <a href="https ://hoovada.com/" target="_blank">Hoovada</a> lives in HCMC. You can connect
            with each other through <a href="https://www.facebook.com/groups/144206164549707" target="_blank">Hoovada
              on Facebook</a>. More good questions on <a href="https://hoovada.com/" target="_blank">Hoovada</a>:</p>
          <ul>
            <li><a href="https://hoovada.com/question/nhung-phan-mem-thiet-ke-hinh-anh-tot-tren-smartphone" target="_blank">Image design software good photos on smartphones?</a></li>
            <li><a href="https://hoovada.com/question/vi-sao-cang-ngay-nganh-cong-nguyen-thong-tin-lai-duoc-quan-tam-va-tro-thanh- muc-tieu-cua-nhieu-ban-tre" target="_blank">Why is the information technology industry getting more and more attention and
                becoming the target of many young people?</a></li>
            <li><a href="https://hoovada.com/question/lich-su-hinh-thanh-youtube" target="_blank">History of
                youtube?</a></li>
          </ul>
        </div>
        <div class="tag-container">
          <h5><i class="fas fa-tags"></i> tags</h5>
          <div class="d-flex flex-row">
            <div class="tag"><a href="#">Web dev</a></div>
            <div class="tag"><a href="#">Architecture</a></div>
          </div>
        </div>
        <hr>
        <div class="share-container">
          <h5><i class="fas fa-share"></i> Share</h5>
          <div class="d-flex flex-row">
            <div class="share-item"><i class="fab fa-facebook-f"></i>Facebook</div>
            <div class="share-item"><i class="fab fa-linkedin-in"></i>Linkedin</div>
            <div class="share-item"><i class="fab fa-twitter"></i>Twitter</div>
          </div>
        </div>
        <hr>
        <div class="related-post">
          <h4>Related post</h4>
          <div class="card mb-3" style="max-height: 160px;">
            <div class="row g-0">
              <div class="col-md-4" style="max-height: 180px;">
                <img src="/public/assets/images/blog/wall-1.jpg" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"><small class="text-muted"><i class="fas fa-calendar-alt"></i>&nbsp; October 10,
                      2021</small></p>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-height: 160px;">
            <div class="row g-0">
              <div class="col-md-4" style="max-height: 180px;">
                <img src="/public/assets/images/blog/wall-2.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"><small class="text-muted"><i class="fas fa-calendar-alt"></i>&nbsp; October 11,
                      2021</small></p>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-height: 160px;">
            <div class="row g-0">
              <div class="col-md-4" style="max-height: 180px;">
                <img src="/public/assets/images/blog/wall-3.jpg" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"><small class="text-muted"><i class="fas fa-calendar-alt"></i>&nbsp; October 12,
                      2021</small></p>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="container comment-section">
<div class="d-flex justify-content-between">
  <h3><i class="fas fa-comment"></i> comments</h3>
  <button type="button" class="btn btn-lg">Sign in</button>
</div>
<div class="row comment-box">
  <div class="col-1">
    <div class="avatar-box"><i class="far fa-user"></i></div>
  </div>
  <div class="col ms-4">
    <div class="form-floating">
      <textarea rows="4" style="height: 100%;" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Comments</label>
    </div>
    <button style="width: 100%;" type="button" class="btn btn-lg">Post</button>
  </div>
</div>
<div class="d-flex justify-content-between">
  <p class="comment-count-text">100 comments</p>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Sort by
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">newest</a></li>
      <li><a class="dropdown-item" href="#">most views</a></li>
      <li><a class="dropdown-item" href="#">most liked</a></li>
    </ul>
  </div>
</div>
<!-- <hr> -->
<div class="comment-container">
  <div class="row">
    <div class="col-1">
      <div class="avatar-box"><i class="far fa-user"></i></div>
    </div>
    <div class="col ms-4">
      <h4>Name</h4>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
      <p>reply • 100likes • <i class="fas fa-thumbs-up"></i></p>
    </div>
  </div>
</div>
</div>
      </div>
      <div class="index-table-section">
        <div class="my-index-table">
          <h5>Index table</h5>
          <nav class="flex-column ms-3">
            <a href="#item-1"><i class="fas fa-chevron-right"></i> 1. Introduction</a><br>
            <a href="#item-2"><i class="fas fa-chevron-right"></i> 2. Front end</a>
            <nav class="flex-column ms-3">
              <a href="#item-2-1"><i class="fas fa-chevron-right"></i> 2.1 Introduction</a><br>
              <a href="#item-2-2"><i class="fas fa-chevron-right"></i> 2.2 Language</a><br>
              <a href="#item-2-3"><i class="fas fa-chevron-right"></i> 2.3 Working with the front end</a>
            </nav>
            <a href="#item-3"><i class="fas fa-chevron-right"></i> 2. Back end</a>
            <nav class="flex-column ms-3">
              <a href="#item-3-1"><i class="fas fa-chevron-right"></i> 2.1 Introduction</a><br>
              <a href="#item-3-2"><i class="fas fa-chevron-right"></i> 2.2 Language</a><br>
              <a href="#item-3-3"><i class="fas fa-chevron-right"></i> 2.3 Working with the back end</a>
            </nav>
          </nav>
        </div>
      </div>
    </div>
    <div class="other-post">
      <h2>New posts</h2>
      <div class="row">
        <div class="col">
          <div class="card mb-3 new-post-card">
            <div class="img-container">
              <img src="/public/assets/images/blog/wall-4.jpg" class="card-img-top fit-img" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 new-post-card">
            <div class="img-container">
              <img src="/public/assets/images/blog/wall-5.jpg" class="card-img-top fit-img" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 new-post-card">
            <div class="img-container">
              <img src="/public/assets/images/blog/wall-6.jpg" class="card-img-top fit-img" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card mb-3 new-post-card">
            <div class="img-container">
              <img src="/public/assets/images/blog/wall-7.jpg" class="card-img-top fit-img" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 new-post-card">
            <div class="img-container">
              <img src="/public/assets/images/blog/wall-8.jpg" class="card-img-top fit-img" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 new-post-card">
            <div class="img-container">
              <img src="/public/assets/images/blog/wall-9.jpg" class="card-img-top fit-img" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

