<%- contentFor("head") %> 
<title>Blog</title>
<link rel="stylesheet" href="/public/stylesheets/pages/blog/homeblog.css">

<%- contentFor("body") %> 
<div class="container wrap">
    <!-- row tiêu đề -->
    <div class="row header">
        <div class="col-sm-12">
            <h2>BLOG</h2>
        </div>
    </div>
    <!-- end row tiêu đề -->

    <!-- row slide -->
    <div class="row">
        <div class="col-sm-12">
            <div class="box-slide">
                <div class="clip clip1">
                    <div class="content">
                        <h3>Where does it come from?</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </p>
                    </div>
                </div>
                <div class="clip clip2">
                    <div class="content">
                        <h3>Where does it come from?</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </p>
                    </div>
                </div>
                <div class="clip clip3">
                    <div class="content">
                        <h3>Where does it come from?</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end row slide -->
    <!-- start row tap -->
    <div class="row">
        <div class="col-sm-12">
            <div class="navigation">
                <ul>
                    <li><a href="" class="filter" data-filter="all">ALL</a></li>
                    <li><a href="" class="filter" data-filter="ltc">Learn to code</a></li>
                    <li><a href="" class="filter" data-filter="cd">Carrer development</a></li>
                    <li><a href="" class="filter" data-filter="is">insignt</a></li>
                    <li><a href="" class="filter" data-filter="cn">Company new</a></li>
                </ul>
            </div>
        </div>

    </div>
    <!-- row chính chứa bài viết -->
    <div class="row list-post">
        <a href="/blogs/posts/detail" class="col-sm-3 post_item cd">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/js-item1.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Carrer Development</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Javascript đâu chỉ có console.log()</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-sm-3 post_item is">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/js-item2.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Insignt</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Bất đồng bộ trong Javascript</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-sm-3 post_item ltc">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/js-item4.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Learn to code</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Khái niệm lập trình căn bản</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>

                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-sm-3 post_item cn">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/js-item3.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Company new</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Event Loop là gì?</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>

                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>
        <a class="col-sm-3 post_item cd">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/js-item3.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Carrer development</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Event Loop là gì?</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>

                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>

        <a class="col-sm-3 post_item ltc">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/js-item3.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Learn to code</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Event Loop là gì?</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>

                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>

        <a class="col-sm-3 post_item cn">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/htmlcss1.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Company new</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Event Loop là gì?</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>

                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>

        <a class="col-sm-3 post_item is">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/abm1-1.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Insight</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Event Loop là gì?</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>

                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>

        <a class="col-sm-3 post_item cd">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/abm1-2.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Carrern development</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Event Loop là gì?</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>

                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>

        <a class="col-sm-3 post_item is">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/abm3-1.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Insignt</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Event Loop là gì?</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>

                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>

        <a class="col-sm-3 post_item ltc">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/htmlcss3.jpg" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Learn to code</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Event Loop là gì?</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>

                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>

        <a class="col-sm-3 post_item cn">
            <div class="eachpost">
                <div class="post_item-image">
                    <img src="/public/assets/images/blog/abm2.png" alt="">
                </div>
                <div class="post_item-content">
                    <div class="post_item-conent-header">
                        <p><i class="far fa-calendar-alt"></i> 17/10/2021</p>
                        <p>Company new</p>
                    </div>
                    <div class="post_item-content-body">
                        <h5>Event Loop là gì?</h5>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>

                    </div>
                    <div class="post_item-content-footer">
                        <span><p>400</p> <p><i class="fas fa-book-reader"></i></p></span>
                        <span><p>310 </p> <p><i class="far fa-eye"></i></p></span>
                        <span> <p>512</p> <p><i class="fas fa-comments"></i></p></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- end row chính chứa bài viết -->

    <div class="row view-all-post">
        <a href="/blogs/all-post?page=1" class="btn btn-primary" id="see_all_post">Xem tất cả bài viết.....</a>
    </div>
</div>
<script src="/public/javascripts/filterBlog.js"></script>