<%- contentFor('head') %>
<title>Lộ trình tự học Javascript từ cơ bản đến nâng cao</title>
<script src="/public/javascripts/post-detail.js"></script>
<link rel="stylesheet" href="/public/stylesheets/pages/blog/detail.css" />

<%- contentFor('body') %>
<div id="main">
    <div class="img-container"></div>
    <div class="post-section">
        <div class="main-post-section">
            <div class="post-content">
                <h5 class="post-type">Blog công nghệ</h5>
                <h1>Lộ trình tự học Javascript từ cơ bản đến nâng cao</h1>
                <div class="head">
                    <div class="d-flex justify-content-between">
                        <div>
                            <a href="#"><i class="far fa-user"></i> Kim Như</a>
                            <p class="posted-date"><i class="far fa-clock"></i> 24/03/2022</p>
                        </div>
                        <p><i class="far fa-eye"></i> 225</p>
                    </div>
                </div>
                <!-- <p>Answer from you <a href="https://hoovada.com/profile/nguyen-phuc" target="_blank">Nguyen Phuc</a> - a
          member of <a href="https ://hoovada.com/" target="_blank"></a>Hoovada lives in HCMC</p> -->
                <p>
                    Chào các bạn, hôm nay chúng ta sẽ tìm hiểu về lộ trình học Javascript từ cơ bản đến nâng cao nha 😊
                </p>
                <h2 id="item-1">1 Javascript là gì?</h2>
                <img
                    src="/public/assets/images/blog/js-item2.jpg"
                    alt="Lộ trình tự học Javascript từ cơ bản đến nâng cao"
                    style="width: 100%"
                />
                <p>
                    <strong>Javascript</strong> là ngôn ngữ lập trình được tích hợp và nhúng vào trong trang web, giúp
                    cho trang web trở nên sống động hơn. Đây là dạng ngôn ngữ kịch bản (scripting language), được hình
                    thành dựa trên chính đối tượng phát triển có sẵn hoặc đơn giản là tự định nghĩa ra. Javascript cho
                    phép bạn kiểm soát các hành vi của trang web tốt hơn so với việc chỉ sử dụng mỗi HTML. Có thể kể đến
                    một vài ứng dụng thực tiễn cực kỳ quen thuộc của Javascript như slideshow, pop-up quảng cáo hay tính
                    năng autocomplete của Google,… chúng đều được viết bằng ngôn ngữ Javascript.
                </p>
                <h2 id="item-2">2 Tại sao cần học Javascript?</h2>
                <p>
                    Cho đến thời điểm hiện tại, Javascript đã phát triển và hoạt động trên hầu hết mọi trình duyệt và
                    trên các thiết bị di động đến máy tính bàn. Chỉ trong hơn 20 năm, Javascript từ một ngôn ngữ lập
                    trình riêng trở thành một công cụ quan trọng nhất trong bộ công cụ của các chuyên viên lập trình
                    web.
                </p>
                <h4 id="item-2-1">* Javascript được ứng dụng trong rất nhiều lĩnh vực phổ biến như:</h4>
                <ul>
                    <li>Lập trình website</li>
                    <li>Xây dựng ứng dụng cho website máy chủ</li>
                    <li>Ứng dụng di động, app, trò chơi</li>
                </ul>
                <h4 id="item-2-2">* Ngôn ngữ Javascript có những ưu điểm nổi bật như sau:</h4>
                <ul>
                    <li>Dễ sử dụng</li>
                    <li>Có cộng đồng hỗ trợ và tài liệu nghiên cứu rộng lớn</li>
                    <li>Có nhiều framework, library viết bằng Javascript</li>
                    <li>Chạy được trên nhiều trình duyệt khác nhau</li>
                </ul>
                <h2 id="item-3">3 Vậy chúng ta nên tự học Javascript như thế nào?</h2>
                <p>
                    Dưới đây là lộ trình dành cho các bạn muốn học Javascript từ cơ bản đến nâng cao, bao gồm các khối
                    kiến thức được liệt kê theo trình tự.
                </p>
                <h4 id="item-3-1">3.1 Lộ trình tự học Javascript cơ bản</h4>
                <ul>
                    <li>Biến, comments, built-in</li>
                    <li>Toán tử, kiểu dữ liệu</li>
                    <li>Hàm</li>
                    <li>Làm việc với chuỗi, số, mảng, object</li>
                    <li>Lệnh rẽ nhánh, toán tử 3 ngôi</li>
                    <li>Vòng lặp</li>
                    <li>Callback</li>
                    <li>HTML DOM</li>
                    <li>JSON, Fetch, Postman</li>
                </ul>
                <h4 id="item-3-2">3.2 Lộ trình tự học Javascript nâng cao</h4>
                <ul>
                    <li>IIFE</li>
                    <li>Scope</li>
                    <li>Closure</li>
                    <li>Hoisting</li>
                    <li>Strict mode</li>
                    <li>Primitive Types & Reference Types</li>
                    <li>Từ khóa “this”</li>
                    <li>Fn.bind() method</li>
                    <li>Fn.call() method</li>
                    <li>Fn.apply() method</li>
                </ul>
                <h2 id="item-4">4 Kết luận</h2>
                <p>
                    Javascript ngày càng khẳng định được vị thế của mình khi ngày càng có nhiều học viên và lập trình
                    viên sử dụng. Nắm vững và thành thạo Javascript mang đến cho bạn nhiều cơ hội trong học tập lẫn việc
                    làm. Việc học theo lộ trình trên kết hợp luyện tập thực hành sử dụng ngôn ngữ này, chắc chắn sẽ giúp
                    bạn có nền tảng vững chắc để có thể tiếp cận các công nghệ/framework/library mới hiện nay.
                </p>
                <br />
                <p>Tham khảo để lấy động lực nè 😊</p>
                <a href="https://insights.dice.com/2020/10/13/12-programming-languages-that-pay-ultra-high-salaries/"
                    >Top 12 ngôn ngữ có mức lương cao nhất</a
                ><br />
                <a href="https://www.northeastern.edu/graduate/blog/most-popular-programming-languages/"
                    >Top các ngôn ngữ phổ biến nhất</a
                ><br />
                <a href="https://coresumo.com/future-programming-languages-2025-2030/"
                    >Ngôn ngữ lập trình xu hướng 2025-2030</a
                ><br />
            </div>
            <div class="tag-container">
                <h5><i class="fas fa-tags"></i> tags</h5>
                <div class="d-flex flex-row">
                    <div class="tag"><a href="#">Web dev</a></div>
                    <div class="tag"><a href="#">Kiến thức lập trình</a></div>
                </div>
            </div>
            <hr />
            <div class="share-container">
                <h5><i class="fas fa-share"></i> Chia sẻ</h5>
                <div class="d-flex flex-row">
                    <div class="share-item"><i class="fab fa-facebook-f"></i>Facebook</div>
                    <div class="share-item"><i class="fab fa-linkedin-in"></i>Linkedin</div>
                    <div class="share-item"><i class="fab fa-twitter"></i>Twitter</div>
                </div>
            </div>
            <hr />
            <div class="related-post">
                <h4>Bài viết liên quan</h4>
                <div class="card mb-3" style="max-height: 160px">
                    <div class="row g-0">
                        <div class="col-md-4" style="max-height: 180px">
                            <img src="/public/assets/images/blog/wall-1.jpg" alt="..." />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <small class="text-muted"
                                        ><i class="fas fa-calendar-alt"></i>&nbsp; 24/03/2021</small
                                    >
                                </p>
                                <p class="card-text">
                                    This is a wider card with supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-height: 160px">
                    <div class="row g-0">
                        <div class="col-md-4" style="max-height: 180px">
                            <img
                                src="/public/assets/images/blog/wall-2.jpg"
                                class="img-fluid rounded-start"
                                alt="..."
                            />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <small class="text-muted"
                                        ><i class="fas fa-calendar-alt"></i>&nbsp; 24/03/2021</small
                                    >
                                </p>
                                <p class="card-text">
                                    This is a wider card with supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-height: 160px">
                    <div class="row g-0">
                        <div class="col-md-4" style="max-height: 180px">
                            <img src="/public/assets/images/blog/wall-3.jpg" alt="..." />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                    <small class="text-muted"
                                        ><i class="fas fa-calendar-alt"></i>&nbsp; 24/03/2021</small
                                    >
                                </p>
                                <p class="card-text">
                                    This is a wider card with supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container comment-section">
                <div class="d-flex justify-content-between">
                    <h3><i class="fas fa-comment"></i> Bình luận</h3>
                    <button type="button" class="btn btn-lg">Đăng nhập</button>
                </div>
                <div class="row comment-box">
                    <div class="col-1">
                        <div class="avatar-box"><i class="far fa-user"></i></div>
                    </div>
                    <div class="col ms-4">
                        <div class="form-floating">
                            <textarea
                                rows="4"
                                style="height: 100%"
                                class="form-control"
                                placeholder="Nhập nội dung comment tại đây..."
                                id="floatingTextarea"
                            ></textarea>
                            <label for="floatingTextarea">Bình luận</label>
                        </div>
                        <button style="width: 100%" type="button" class="btn btn-lg">Đăng bình luận</button>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="comment-count-text">100 bình luận</p>
                    <div class="dropdown">
                        <button
                            class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton1"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Sắp xếp theo
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Mới nhất</a></li>
                            <li><a class="dropdown-item" href="#">Xem nhiều nhất</a></li>
                            <li><a class="dropdown-item" href="#">Thích nhiều nhất</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <hr> -->
                <div class="comment-container">
                    <div class="row">
                        <div class="col-1">
                            <div class="avatar-box"><i class="far fa-user"></i></div>
                        </div>
                        <div class="col ms-4">
                            <h4>Name</h4>
                            <p>
                                It is a long established fact that a reader will be distracted by the readable content
                                of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                                more-or-less normal distribution of letters, as opposed to using 'Content here, content
                                here', making it look like readable English.
                            </p>
                            <p>Phản hồi • 100 lượt thích • <i class="fas fa-thumbs-up"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-table-section">
            <div class="my-index-table">
                <h5>Mục lục</h5>
                <nav class="flex-column ms-3">
                    <a href="#item-1"><i class="fas fa-chevron-right"></i> 1. Javascript là gì?</a><br />
                    <a href="#item-2"><i class="fas fa-chevron-right"></i> 2. Tại sao cần học Javascript?</a><br />
                    <a href="#item-3"
                        ><i class="fas fa-chevron-right"></i> 3. Vậy chúng ta nên tự học Javascript như thế nào?</a
                    ><br />
                    <nav class="flex-column ms-3">
                        <a href="#item-3-1"
                            ><i class="fas fa-chevron-right"></i> 3.1 Lộ trình tự học Javascript cơ bản</a
                        ><br />
                        <a href="#item-3-2"
                            ><i class="fas fa-chevron-right"></i> 3.2 Lộ trình tự học Javascript nâng cao</a
                        ><br />
                    </nav>
                    <a href="#item-4"><i class="fas fa-chevron-right"></i> 4. Kết luận</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="other-post">
        <h2>Bài viết mới</h2>
        <div class="row">
            <div class="col">
                <div class="card mb-3 new-post-card">
                    <div class="img-container">
                        <img src="/public/assets/images/blog/wall-4.jpg" class="card-img-top fit-img" alt="..." />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text"><small class="text-muted">Cập nhật cách 3 phút trước</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 new-post-card">
                    <div class="img-container">
                        <img src="/public/assets/images/blog/wall-5.jpg" class="card-img-top fit-img" alt="..." />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text"><small class="text-muted">Cập nhật cách 3 phút trước</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 new-post-card">
                    <div class="img-container">
                        <img src="/public/assets/images/blog/wall-6.jpg" class="card-img-top fit-img" alt="..." />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text"><small class="text-muted">Cập nhật cách 3 phút trước</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-3 new-post-card">
                    <div class="img-container">
                        <img src="/public/assets/images/blog/wall-7.jpg" class="card-img-top fit-img" alt="..." />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text"><small class="text-muted">Cập nhật cách 3 phút trước</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 new-post-card">
                    <div class="img-container">
                        <img src="/public/assets/images/blog/wall-8.jpg" class="card-img-top fit-img" alt="..." />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text"><small class="text-muted">Cập nhật cách 3 phút trước</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 new-post-card">
                    <div class="img-container">
                        <img src="/public/assets/images/blog/wall-9.jpg" class="card-img-top fit-img" alt="..." />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <p class="card-text"><small class="text-muted">Cập nhật cách 3 phút trước</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
