<footer>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <ul>
                    <li>
                        <a class="footer-logo" href="#"><i class="fab fa-bootstrap"></i> Bootstrap</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-phone-alt"></i> (00) 123 456 789</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-envelope"></i> bootstrap@gmail.com</a>
                    </li>
                    <li>
                        <div class="contact-icon-container">
                            <div><i class="fab fa-facebook-f"></i></div>
                            <div><i class="fab fa-twitter"></i></div>
                            <div><i class="fab fa-google-plus-g"></i></div>
                            <div><i class="fab fa-linkedin-in"></i></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="tag-header">Đường dẫn</li>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Bài đăng</a></li>
                    <li><a href="#">Danh mục</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="tag-header">Hỗ trợ</li>
                    <li><a href="#">Tài liệu</a></li>
                    <li><a href="#">Diễn đàn</a></li>
                    <li><a href="#">Ngôn ngữ</a></li>
                    <li><a href="#">Báo lỗi</a></li>
                    <li><a href="#">Mạng xã hội</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="tag-header">Dự án và kế hoạch</li>
                    <li><a href="#">Dự án 1</a></li>
                    <li><a href="#">Dự án 2</a></li>
                    <li><a href="#">Dự án 3</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="tag-header">Về chúng tôi</li>
                    <li><a href="#">Tác giả</a></li>
                    <li><a href="#">UIT</a></li>
                    <li><a href="#">Nhà phát triển</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col">
            <small><span>&copy; 2021 Copyright: </span><a href="#">myblog.com.vn</a></small>
        </div>
    </div>
</footer>
