
<script defer src="/public/javascripts/login.js"></script> 
<header>
	<a href="/"><img src="/public/assets/images/logoWeb.png" alt=""></a>
	<div>
        <div class="d-flex align-items-center">
            <ul>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/codingPlayground">Code playground</a></li>
                <li><a href="/discusses">Discuss</a></li>
                <li><a href="/blogs">Blog</a></li>
            </ul>
            <div class="header-btn-wrapper">
                <button id="loginBtn">Log in</button>
                <button><a href="/auth/sign-up">Register</a> </button>
            </div>
        </div>
        <div class="layout" id="layout_login">

            <div class="content_login" id="content_login">
                <div class="login_header">
                    <a href="/auth/sign-up">Sing up</a>
                    <a href="">Get started free</a>
                    <button id="close_login"><i class="far fa-times-circle"></i></button>
                </div>
    
                <h4>Sign in to learn more</h4>
                <div class="quick_login">
                    <button><i class="fab fa-google-plus-g"></i>Login with google</button>
                    <button><i class="fab fa-twitter"></i></button>
                </div>
                <span>Or</span>
                <form action="/auth/login" method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleFormControlInput1" placeholder="******">
    
                    </div>
                    <p>When click to sign up button, you agree with CodeLearn <a href="">terms and conditons of use</a></p>
                    <button type="submit" class="btn btn-primary">SIGN IN</button>
                </form>
            </div>
        </div>
    </div>
</header>