<header>
	<a href="/home"><img src="/public/assets/images/node-logo-white.png" alt=""></a>
	<div class="d-flex align-items-center">
		<ul>
			<li><a href="/courses">Courses</a></li>
			<li><a href="">Code playground</a></li>
			<li><a href="/discusses">Discuss</a></li>
			<li><a href="/blogs">Blog</a></li>
		</ul>
		<div class="btn-group" style="margin-left: 2rem">
			<button type="button" id="header-user-btn" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
			<div class="dropdown-menu dropdown-menu-right">
				<h6 class="dropdown-header">User panel</h6>
				<a class="dropdown-item" href="/home"><i class="fas fa-user"></i> Thông tin cá nhân</a>
				<li><form id="logout-form" action="/auth/logout?_method=delete" method="POST">
					<a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('logout-form').submit(); return false;"><i class="fas fa-sign-out-alt"></i> Log out</a></a>
				</form></li>
			</div>
		</div>
	</div>
</header>