<%- contentFor('head') %> 
<link rel="stylesheet" href="/public/stylesheets/pages/landing/main.css">

<script src="/public/javascripts/landing.js"></script>
<%- contentFor('body') %> 
<section class="page-title-sec">
	<div class="wrapper">
		<p class="main-title">Học lập trình hiệu quả nhất</p>
		<p class="description">Khóa học được đề xuất bởi những chuyên gia đầu ngành.<br> Hãy tham gia cùng chúng tôi. <span>Hoàn toàn miễn phí.</span></p>
		<div class="btn-wrapper d-flex">
			<button>Bắt đầu ngay!!!</button>
		</div>
	</div>
</section>
<section class="courses-sec">
	<div class="wrapper d-flex">
		<button class="sliding-btn"><i class="fas fa-angle-left"></i></button>
		<div class="slider">
			<div class="inner d-flex">
				<a href="/courses/python">
					<div class="course-box-wrapper">
						<div class="course-box">
							<div><img src="/public/assets/images/landing/python-core.png" alt=""></div>
							<p>Python Core python</p>
						</div>
						
					</div>
				</a>
				<div class="course-box-wrapper">
					<div class="course-box">
						<div><img src="/public/assets/images/landing/c++.png" alt=""></div>
						<p>C++</p>
					</div>
				</div>
				<div class="course-box-wrapper">
					<div class="course-box">
						<div><img src="/public/assets/images/landing/java.png" alt=""></div>
						<p>Java</p>
					</div>
				</div>
				<div class="course-box-wrapper">
					<div class="course-box">
						<div><img src="/public/assets/images/landing/js.png" alt=""></div>
						<p>Javascript</p>
					</div>
				</div>
				<div class="course-box-wrapper">
					<div class="course-box">
						<div><img src="/public/assets/images/landing/marketers.png" alt=""></div>
						<p>Coding for Marketers</p>
					</div>
				</div>
				<div class="course-box-wrapper">
					<div class="course-box">
						<div><img src="/public/assets/images/landing/c-sharp.png" alt=""></div>
						<p>C#</p>
					</div>
				</div>
				<div class="course-box-wrapper">
					<div class="course-box">
						<div><img src="/public/assets/images/landing/html.png" alt=""></div>
						<p>HTML</p>
					</div>
				</div>
				<div class="course-box-wrapper">
					<div class="course-box">
						<div><img src="/public/assets/images/landing/css.png" alt=""></div>
						<p>CSS</p>
					</div>
				</div>
				<div class="course-box-wrapper">
					<div class="course-box">
						<div><img src="/public/assets/images/landing/responsive.png" alt=""></div>
						<p>Responsive</p>
					</div>
				</div>
				<div class="course-box-wrapper">
					<div class="course-box">
						<div><img src="/public/assets/images/landing/python-beginner.png" alt=""></div>
						<p>Python for Beginners</p>
					</div>
				</div>
			</div>
		</div>
		<button class="sliding-btn"><i class="fas fa-angle-right"></i></button>
	</div>
</section>
<section class="info-sec">
	<div class="info-template">
		<div class="info-card">
			<img src="/public/assets/images/landing/sl-info-card-1.svg" alt="">
			<div class="text-wrapper">
				<p class="info-title">Chương trình phù hợp</p>
				<p class="description">Không cần biết "trình độ" của bạn, bạn vẫn có thể viết <span class="description-highlight">code trong một phút</span> bằng cách tham gia những bài học đầu tiên. </p>
			</div>
		</div>
		<div class="info-card">
			<img src="/public/assets/images/landing/sl-info-card-2.svg" alt="">
			<div class="text-wrapper">
				<p class="info-title">Phân chia hợp lí</p>
				<p class="description">Trả qua từng bài học "độc nhất" của chúng tôi. Đánh giá kiến thức của bạn qua những câu quizz, sau đó <span class="description-highlight">Nâng cao kỹ năng của bạn bằng cách thực hành.</span></p>
			</div>
		</div>
		<div class="info-card">
			<img src="/public/assets/images/landing/sl-info-card-3.svg" alt="">
			<div class="text-wrapper">
				<p class="info-title">Đạt lấy chứng chỉ</p>
				<p class="description"><span class="description-highlight">Chứng chỉ đạt được </span>sẽ xác nhận những kỹ năng bạn đã học. Hãy đăng lên để mọi người cùng thấy nhé.</p>
			</div>
		</div>
		<div class="info-card info-card-extended d-flex">
			<div class="text-wrapper">
				<p class="info-title">Learning on the go</p>
				<p class="description"><span class="description-highlight">Learn on the web or on the go.</span> Sololearn is always ready for you and you'll never lose your place.</p>
				<div class="d-flex">
					<a href=""><img src="/public/assets/images/landing/download-app-store-icon.png" alt=""></a>
					<a href=""><img src="/public/assets/images/landing/download-gg-play-icon.png" alt=""></a>
				</div>
			</div>
			<img src="/public/assets/images/landing/sl-phone.svg" alt="">
		</div>
		<div class="info-card">
			<img src="/public/assets/images/landing/sl-info-card-4.svg" alt="">
			<div class="text-wrapper">
				<p class="info-title">Hơn 20 khóa học</p>
				<p class="description">Từ Python, đến Data, và cả lập trình Web. <span class="description-highlight">Chúng tôi có mọi thứ bạn tìm kiếm.</span></p>
				<a href="#">Khóa học ></a>
			</div>
		</div>
	</div>
</section>
<section class="feature-sec container">
	<div class="row">
		<div class="d-flex">
			<div class="title-heading-bar"></div>
			<p id="feature-sec-title" class="info-title"></p>
		</div>
	</div>
	<div class="row">
		<div class="col-5">
			<img style="width: 100%;" src="/public/assets/images/landing/feature-background.jpg" alt="">
		</div>
		<div class="col-7">
			<div class="feature-container">
				<div>
					<span><i class="fas fa-code"></i></span>
					<h5>Coding</h5>
					<p>Lập trình trực tuyến với compiler có sẵn</p>
				</div>
				<div>
					<span><i class="fas fa-blog"></i></span>
					<h5>Blog</h5>
					<p>Blog được viết bởi những tác giả đầy "tài năng"</p>
				</div>
				<div>
					<span><i class="fas fa-certificate"></i></span>
					<h5>Khóa học</h5>
					<p>Đạt lấy những chứng chỉ bằng cách tham gia các khóa học</p>
				</div>
				<div>
					<span><i class="far fa-comment-alt"></i></span>
					<h5>Thảo luận</h5>
					<p>Bạn có những thắc mắc? Hãy cùng nhau giải quyết</p>
				</div>
				<div>
					<span><i class="fab fa-font-awesome-flag"></i></span>
					<h5>Thử thách</h5>
					<p>Cố gắng tranh đua cùng những bạn học khác</p>
				</div>
				<div>
					<span><i class="fab fa-wpexplorer"></i></span>
					<h5>Khám phá</h5>
					<p>Khám phá những dự án của người khác</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="blog-sec container">
	<div class="row">
		<div class="d-flex">
			<div class="title-heading-bar"></div>
			<p class="info-title">Blog</p>
		</div>
	</div>
	<div class="container" style="text-align: center; margin-bottom: 2rem;">
		<h2>Bài viết mới nhất</h2>
		<p>You can relay on our amazing features list and also our customer services <br> will be great experience for you without doubt</p>
	</div>
	<div class="blog-item-container">
		<div class="card text-white">
			<img src="/public/assets/images/landing/blog-wall-1.jpg" class="card-img" alt="...">
			<a href="/blogs/posts/detail">
				<div class="card-img-overlay">
					<div class="hidden-overlay-panel">
						<div class="d-flex align-items-center">
							<div class="author-tag">Thuan nhan</div>
							<p>Feb 18, 2018</p>
						</div>
						<h5 class="card-title">Post about javascript</h5>
						<p class="blog-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
					</div>
				</div>
			</a>
		</div>
		<div class="card text-white">
			<img src="/public/assets/images/landing/blog-wall-1.jpg" class="card-img" alt="...">
			<a href="#">
				<div class="card-img-overlay">
					<div class="hidden-overlay-panel">
						<div class="d-flex align-items-center">
							<div class="author-tag">Thuan nhan</div>
							<p>Feb 18, 2018</p>
						</div>
						<h5 class="card-title">Post about javascript</h5>
						<p class="blog-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
					</div>
				</div>
			</a>
		</div>
		<div class="card text-white">
			<img src="/public/assets/images/landing/blog-wall-1.jpg" class="card-img" alt="...">
			<a href="#">
				<div class="card-img-overlay">
					<div class="hidden-overlay-panel">
						<div class="d-flex align-items-center">
							<div class="author-tag">Thuan nhan</div>
							<p>Feb 18, 2018</p>
						</div>
						<h5 class="card-title">Post about javascript</h5>
						<p class="blog-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="blog-item-container">
		<div class="card text-white">
			<img src="/public/assets/images/landing/blog-wall-1.jpg" class="card-img" alt="...">
			<a href="#">
				<div class="card-img-overlay">
					<div class="hidden-overlay-panel">
						<div class="d-flex align-items-center">
							<div class="author-tag">Thuan nhan</div>
							<p>Feb 18, 2018</p>
						</div>
						<h5 class="card-title">Post about javascript</h5>
						<p class="blog-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
					</div>
				</div>
			</a>
		</div>
		<div class="card text-white">
			<img src="/public/assets/images/landing/blog-wall-1.jpg" class="card-img" alt="...">
			<a href="#">
				<div class="card-img-overlay">
					<div class="hidden-overlay-panel">
						<div class="d-flex align-items-center">
							<div class="author-tag">Thuan nhan</div>
							<p>Feb 18, 2018</p>
						</div>
						<h5 class="card-title">Post about javascript</h5>
						<p class="blog-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
					</div>
				</div>
			</a>
		</div>
		<div class="card text-white">
			<img src="/public/assets/images/landing/blog-wall-1.jpg" class="card-img" alt="...">
			<a href="#">
				<div class="card-img-overlay">
					<div class="hidden-overlay-panel">
						<div class="d-flex align-items-center">
							<div class="author-tag">Thuan nhan</div>
							<p>Feb 18, 2018</p>
						</div>
						<h5 class="card-title">Post about javascript</h5>
						<p class="blog-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<p class="more-info-link"><a href="/blogs/all-post?page=1">Tất cả bài viết >></a></p>
	</div>
</section>
<section class="member-sec">
	<div class="wrapper container">
		<div class="row">
			<div class="d-flex">
				<div class="title-heading-bar"></div>
				<p class="info-title">Thành viên</p>
			</div>
		</div>
		<div class="row">
			<div class="member-card-container">
				<div class="member-card">
					<div class="top">
						<div class="avatar">
							<img src="/public/assets/images/landing/person.jpg" alt="">
						</div>
					</div>
					<div class="body">
						<h3 style="text-align: center;">Name</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<div class="d-flex justify-content-center">
							<button class="black-animated-background-btn">Chi tiết</button>
						</div>
						<div class="social-media-container d-flex justify-content-center">
							<div class="social-media-item"><i class="far fa-envelope"></i></div>
							<div class="social-media-item"><i class="fab fa-facebook-f"></i></div>
							<div class="social-media-item"><i class="fab fa-linkedin-in"></i></div>
							<div class="social-media-item"><i class="fab fa-linkedin-in"></i></div>
							<div class="social-media-item"><i class="fab fa-instagram"></i></div>
						</div>
					</div>
				</div>
				<div class="member-card">
					<div class="top">
						<div class="avatar">
							<img src="/public/assets/images/landing/person.jpg" alt="">
						</div>
					</div>
					<div class="body">
						<h3 style="text-align: center;">Name</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<div class="d-flex justify-content-center">
							<button class="black-animated-background-btn">Chi tiết</button>
						</div>
						<div class="social-media-container d-flex justify-content-center">
							<div class="social-media-item"><i class="far fa-envelope"></i></div>
							<div class="social-media-item"><i class="fab fa-facebook-f"></i></div>
							<div class="social-media-item"><i class="fab fa-linkedin-in"></i></div>
							<div class="social-media-item"><i class="fab fa-linkedin-in"></i></div>
							<div class="social-media-item"><i class="fab fa-instagram"></i></div>
						</div>
					</div>
				</div>
				<div class="member-card">
					<div class="top">
						<div class="avatar">
							<img src="/public/assets/images/landing/person.jpg" alt="">
						</div>
					</div>
					<div class="body">
						<h3 style="text-align: center;">Name</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<div class="d-flex justify-content-center">
							<button class="black-animated-background-btn">Chi tiết</button>
						</div>
						<div class="social-media-container d-flex justify-content-center">
							<div class="social-media-item"><i class="far fa-envelope"></i></div>
							<div class="social-media-item"><i class="fab fa-facebook-f"></i></div>
							<div class="social-media-item"><i class="fab fa-linkedin-in"></i></div>
							<div class="social-media-item"><i class="fab fa-linkedin-in"></i></div>
							<div class="social-media-item"><i class="fab fa-instagram"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 2rem;">
			<p class="more-info-link"><a href="/portfolio">More about us</a></p>
		</div>
	</div>
</section>
<section class="feedback-sec container">
	<div class="container" style="margin-bottom: 2rem;">
		<h2><strong>CLIENT FEEDBACK</strong></h2>
		<p>Outlived no dwelling denoting in peculiar as he believed. Behaviour excellent middleton be as it<br> curiosity departure ourselves very extreme future.</p>
	</div>
	<div class="row">
		<div class="col">
			<img style="width: 90%;" src="/public/assets/images/landing/client-background.jpg" alt="">
		</div>
		<div class="col">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="feedback-item">
							<span><i class="fas fa-quote-left"></i></span>
							<div class="line"></div>
							<div class="quote-content-container">
								<p class="quote">The next generation of the web’s favorite icon library + toolkit is now available as a Beta release! Try out the Free version.</p>
								<div class="d-flex author-card">
									<div class="avatar">
										<img src="/public/assets/images/landing/person.jpg" alt="">
									</div>
									<div>
										<p>Devin Hamilton</p>
										<p>Client</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="feedback-item">
							<span><i class="fas fa-quote-left"></i></span>
							<div class="line"></div>
							<div class="quote-content-container">
								<p class="quote">The next generation of the web’s favorite icon library + toolkit is now available as a Beta release! Try out the Free version.</p>
								<div class="d-flex author-card">
									<div class="avatar">
										<img src="/public/assets/images/landing/person-1.jpg" alt="">
									</div>
									<div>
										<p>Roberto Firmino</p>
										<p>Client</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="feedback-item">
							<span><i class="fas fa-quote-left"></i></span>
							<div class="line"></div>
							<div class="quote-content-container">
								<p class="quote">The next generation of the web’s favorite icon library + toolkit is now available as a Beta release! Try out the Free version.</p>
								<div class="d-flex author-card">
									<div class="avatar">
										<img src="/public/assets/images/landing/person-2.jpg" alt="">
									</div>
									<div>
										<p>Sadio Mane</p>
										<p>Client</p>
									</div>
								</div>
							</div>
						</div>
				</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<section class="community-sec d-flex">
	<div class="left-container">
		<div class="dot-row">
			<div class="dot medium-dot"></div>
		</div>
		<div class="dot-row">
			<div class="dot big-dot"></div>
			<div class="dot medium-dot"></div>
		</div>
		<div class="dot-row">
			<div class="dot small-dot"></div>
			<div class="dot big-dot"></div>
		</div>
		<div class="dot-row">
			<div class="dot super-dot"></div>
		</div>
	</div>
	<div class="middle">
		<p>Cộng đồng lớn</p>
		<p class="amount-text">45.336.189</p>
		<p class="description">Chia sẻ code hoặc câu hỏi của bạn và nhận phản hồi tức thì hoặc trở thành người sáng tạo và truyền bá kiến ​​thức cũng như kinh nghiệm của bạn với cộng đồng người học toàn cầu của chúng tôi.</p>
		<img src="/public/assets/images/landing/code-panel.png" alt="">
	</div>
	<div class="right-container">
		<div class="dot-row">
			<div class="dot small-dot"></div>
		</div>
		<div class="dot-row">
			<div class="dot big-dot"></div>
			<div class="dot medium-dot"></div>
		</div>
		<div class="dot-row">
			<div class="dot small-dot"></div>
			<div class="dot super-dot"></div>
		</div>
		<div class="dot-row">
			<div class="dot big-dot"></div>
		</div>
	</div>
</section>
<section class="statistic-sec">
	<div class="statistic-item">
		<img src="/public/assets/images/landing/group-icon.png" alt="">
		<div class="number">2m+</div>
		<p>Người dùng</p>
	</div>
	<div class="statistic-item">
		<img src="/public/assets/images/landing/online-course-icon.png" alt="">
		<div class="number">30+</div>
		<p>Khóa học</p>
	</div>
	<div class="statistic-item">
		<img src="/public/assets/images/landing/download-icon.png" alt="">
		<div class="number">10m+</div>
		<p>Lượt tải</p>
	</div>
</section>
<section class="dream-job-sec d-flex">
	<div class="text-container">
		<p class="info-title">Chúng tôi đã giúp hàng trăm</p>
	</div>
	<div class="text-container job-title-container">
		<p class="info-title">Công nhân xây dựng</p>
		<p class="info-title">Nhà thiết kế</p>
		<p class="info-title">Tài xế vận tải</p>
		<p class="info-title">Quản lý dự án</p>
		<p class="info-title">Điều phối viên IT</p>
	</div>
	<div class="text-container">
		<p class="info-title">đạt được <span>công việc mơ ước</span></p>
	</div>
</section>
<section class="why-code-sec">
	<div class="header">
		<p>Tại sao <span>phải học tập</span></p>
	</div>
	<div class="card-container d-flex">
		<div class="wc-card">
			<img src="/public/assets/images/landing/home-why-code-1.svg" alt="">
			<div>
				<p class="info-title">Phổ biến</p>
				<p class="description"><span class="description-highlight">Nhu cầu về kỹ thuật luôn thiếu.</span> Hơn 60% công việc mới trên toàn thế giới sẽ yêu cầu các kỹ năng về công nghệ.</p>
			</div>
		</div>
		<div class="wc-card">
			<img src="/public/assets/images/landing/home-why-code-2.svg" alt="">
			<div>
				<p class="info-title">Đầy hứa hẹn</p>
				<p class="description">Mở khỏa khả năng kiếm tiền của bạn! Các lập trình viên mới bắt đầu ở Mỹ có thể kiếm được <span class="description-highlight">trung bình hơn $78.000 thu nhập hàng năm.</span></p>
			</div>
		</div>
		<div class="wc-card">
			<img src="/public/assets/images/landing/home-why-code-3.svg" alt="">
			<div>
				<p class="info-title">Và cũng rất vui nữa</p>
				<p class="description">Hãy tưởng tượng kết hợp niềm đam mê, kỹ năng và sự sáng tạo của bạn để có thể <span class="description-highlight">tạo ra một điều gì đó thú vị hàng ngày!</span></p>
			</div>
		</div>
	</div>
	<div class="description-wrapper description">Bắt đầu ngay với Sololearn bằng cách lập trình với Code Playground của chúng tôi, sau đó đăng tải dự án "siêu ngầu" của bạn để mọi người cùng chiêm ngưỡng!</div>
	<div class="button-wrapper">
		<button>bắt đầu ngay</button>
	</div>
</section>
<section class="pro-sec">
	<div class="header d-flex">
		<p>Đầu tư vào bản thân với</p>
		<div>Pro</div>
	</div>
	<div class="card-container d-flex">
		<div class="ps-card">
			<h2>Bài tập vô hạn</h2>
			<p>2x</p>
			<p class="description">Người dùng chuyên nghiệp có khả năng kết hợp thực hành trong kế hoạch học tập của họ cao gấp đôi</p>
		</div>
		<div class="ps-card">
			<h2>Không quảng cáo</h2>
			<p>+132%</p>
			<p class="description">Người dùng chuyên nghiệp giành ra 132% thời gian để học so với bình thường.</p>
		</div>
		<div class="ps-card">
			<h2>Hình thành thói quen</h2>
			<p>92%</p>
			<p class="description">Người dùng chuyên nghiệp thiết lập mục tiêu hàng ngày và có tỷ lệ hoàn thành bài học lên đến 92%!</p>
		</div>
	</div>
	<div class="feature-panel">
		<p>
			<span><i class="fas fa-check"></i>Bài tập vô hạn</span>
			<span><i class="fas fa-check"></i>Không quảng cáo</span>
			<span><i class="fas fa-check"></i>Thống kê tiến độ</span>
			<span><i class="fas fa-check"></i>Mục tiêu hàng ngày</span>
		</p>
		<p>
			<span><i class="fas fa-check"></i>Xây dựng thói quen</span>
			<span><i class="fas fa-check"></i>Lối tắt trong học tập</span>
			<span><i class="fas fa-check"></i>Thử thách thực tế</span>
		</p>
	</div>
	<div class="btn-container">
		<button>Bắt đầu học tập một cách chuyên nghệp!</button>
	</div>
</section>
<section class="award-sec">
	<h1>Giải thưởng đạt được</h1>
	<div class="award-container d-flex">
		<div class="award-box">
			<p>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
				<i class="fas fa-star"></i>
			</p>
			<p>4.8 / 5</p>
			<small>Sao trên AppStore</small>
		</div>
		<div class="award-box">
			<p><i class="fab fa-facebook-square"></i></p>
			<p>Ứng dụng của năm</p>
			<small>FB Start tổ chức bởi Facebook</small>
		</div>
		<div class="award-box">
			<p><i class="fab fa-google-play"></i></p>
			<p>Editors' Choice</p>
			<small>Google Play</small>
		</div>
	</div>
</section>
<section class="contact-sec">
	<div class="wrapper container">
		<div class="row">
			<div class="col">
				<h1>Chúng tôi luôn sẵn lòng lắng nghe bạn!</h1>
				<div class="d-flex contact-item-container">
					<div class="contact-item">
						<div class="icon"><i class="fas fa-map-marked-alt"></i></div>
						<div>
							<p>Địa chỉ</p>
							<p>63/63 thành phố Hồ Chí Minh, Việt Nam</p>
						</div>
					</div>
					<div class="contact-item">
						<div class="icon"><i class="fas fa-phone-volume"></i></i></div>
						<div>
							<p>Số điện thoại</p>
							<p>601-594-3504</p>
						</div>
					</div>
					<div class="contact-item">
						<div class="icon"><i class="far fa-envelope"></i></div>
						<div>
							<p>Email</p>
							<p>4cfdx9dy9e@temporary-mail.net</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<form action="" class="container-fluid contact-form">
					<div class="row">
						<div class="col"><input type="text" placeholder="Họ và tên*"></div>
						<div class="col"><input type="text" placeholder="Địa chỉ Email*"></div>
					</div>
					<div class="row">
						<div class="col"><input type="text" placeholder="Số điện thoại"></div>
						<div class="col"><input type="text" placeholder="Link website của bạn"></div>
					</div>
					<div class="row">
						<div class="col"><input type="text" placeholder="Subject..."></div>
					</div>
					<div class="row">
						<div class="col">
							<textarea name="" id="" cols="30" rows="6" placeholder="Ghi chú..."></textarea>
						</div>
					</div>
					<div class="row">
						<button class="black-animated-background-btn">Gửi lời nhắn <i class="fas fa-angle-right"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<section class="last-sec">
	<h1>Lập trình chưa bao giờ dễ đến thế!!!</h1>
	<button>Bắt đầu học ngay</button>
</section>