
.award-sec{
  height: auto;
  padding: 8rem 0;
  background-color: var(--background-light);
}
.award-sec h1{
  margin: 0;
  font-size: 4rem;
  text-align: center;
}
.award-sec .award-container{
  justify-content: center;
  align-items: flex-end;
  margin-top: 5rem;
}
.award-sec .award-container p, .award-sec .award-container small{
  text-align: center;
  display: block;
  margin: 0;
}
.award-sec .award-container .award-box{
  margin: 0 2rem;
  width: 20%;
}
.award-sec .award-container .award-box p:nth-child(1){
  font-size: 2.4rem;
}
.award-sec .award-container .award-box p:nth-child(2){
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .75rem;
}
.award-sec .award-container .award-box small{
  margin-top: .75rem;
  font-size: .8rem;
}
.award-sec .award-container .award-box:nth-of-type(1) p:nth-child(1){
  font-size: 1.5rem;
  color: var(--yellow-primary);
}
/* award sec */
/* ------------------------------------------------------------- */
