
.last-sec{
  height: auto;
  padding: 10rem;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last-sec h1{
  margin: 0;
  margin-bottom: 3rem;
  font-size: 4rem;
  color: white;
}
.last-sec button{
  width: 40%;
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
}
/* last sec */
/* ------------------------------------------------------------- */