
@import url('./page-title-sec.css');
@import url('./course-sec.css');
@import url('./info-sec.css');
@import url('./feature-sec.css');
@import url('./blog-sec.css');
@import url('./member-sec.css');
@import url('./feedback-sec.css');
@import url('./community-sec.css');
@import url('./statistic-sec.css');
@import url('./dream-job-sec.css');
@import url('./why-code-sec.css');
@import url('./pro-sec.css');
@import url('./award-sec.css');
@import url('./contact-sec.css');
@import url('./last-sec.css');
@import url('../../settings/variables.css');

:root{
  --orange-mild: #faaf68;
  --red-primary: #ff3838;
  --yellow-primary: #f9ca24;
}
.more-info-link{
  display: block;
  width: 100%;
  font-size: 1.5rem;
  text-align: right;
  font-weight: 600;
}
.more-info-link a:hover{
  color: var(--primary);
}