
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/public/stylesheets/pages/course/coursePythonLesson1.css">

</head>

<body>
    <div class="wrap">
        <div class="lesson_header">
            <a href="/courses/python"><i class="fas fa-angle-left"></i>Trở lại khóa học</a>
            <div class="lesson_tap">
                <span class="current" id="0"></span>
                <span id="1"></span>
                <span id="2"></span>
                <span id="3"></span>
            </div>
            <p id="displayComment"><i class="fas fa-angle-left"></i>2087 comments</p>
        </div>
        <div class="lesson_bodoy">
            <div class="lesson_content">
                <div class="lesson_content1" >
                    <h4>Lesson 1: printing text</h4>
                    <p>Let's start off by creating a short program that displays "Hello world!". In Python, we use the print statement to output text.</p>
                    <div class="try_code">
                        <p>print('hello world')</p>
                        <button class="btn btn-primary">Try it yourself</button>
                    </div>
                    <p>Note that the text should be enclosed into single or <strong> double quotes.</strong></p>
                    <div class="warning">
                        <i class="fas fa-info-circle"></i>
                        <p>The print statement needs to be followed by parentheses, which enclose the output we want to generate.</p>
                    </div>
                </div>
                <div class="lesson_content1" >
                    <h4>Lesson 2: printing text</h4>
                    <p>The print statement can also be used to output <strong> multiple lines</strong> of text.</p>
                    <div class="try_code">
                        <p>print('hello world')</p>
                        <p>print('hello world')</p>
                        <p>print('Ngo Gia Thai')</p>
                        <button class="btn btn-primary">Try it yourself</button>
                    </div>
                    <p>Each print statement outputs text from a new line.</strong></p>
                    <div class="warning">
                        <i class="fas fa-info-circle"></i>
                        <p>Python code often contains references to the comedy group Monty Python. This is why the words, "spam" and "eggs" are often used as placeholder variables in Python.</p>
                    </div>
                </div>
                <div class="lesson_content1">
                    <h4>Lesson 3: printing text</h4>
                    <p>Let's start off by creating a short program that displays "Hello world!". In Python, we use the print statement to output text.</p>
                    <div class="try_code">
                        <p>print('hello world')</p>
                        <p>print('hello world')</p>
                        <p>print('Ngo Gia Thai')</p>
                        <button class="btn btn-primary">Try it yourself</button>
                    </div>
                    <p>Note that the text should be enclosed into single or <strong> double quotes.</strong></p>
                    <div class="warning">
                        <i class="fas fa-info-circle"></i>
                        <p>The print statement needs to be followed by parentheses, which enclose the output we want to generate.</p>
                    </div>
                </div>
                <div class="lesson_content1">
                    <h4>Lesson 4: printing text</h4>
                    <p>Let's start off by creating a short program that displays "Hello world!". In Python, we use the print statement to output text.</p>
                    <div class="try_code">
                        <p>print('hello world')</p>
                        <p>print('Ngo Gia Thai')</p>
                        <button class="btn btn-primary">Try it yourself</button>
                    </div>
                    <p>Note that the text should be enclosed into single or <strong> double quotes.</strong></p>
                    <div class="warning">
                        <i class="fas fa-info-circle"></i>
                        <p>The print statement needs to be followed by parentheses, which enclose the output we want to generate.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lesson_footer">
            <button class="btn btn-light" id="back">Quay lại</button>
            <button class="btn btn-primary" id="next">Tiếp tục</button>

        </div>
        <div class="lesson_overlay" id="lesson_overlay">

        </div>
        <div class="sidebar_comment" id="commnentPart">
            <div class="comment_head">
                <div class="comment_head1">
                    <p id="hideComment">Hide<i class="fas fa-angle-right"></i></p>
                    <p>2087 comments</p>
                </div>
                <form action="">
                    <textarea name="" id="" cols="38" rows="3" placeholder="write comments.."></textarea> <br>
                    <button type="submit" class="btn btn-primary">post</button>
                </form>

            </div>
            <div class="comment_body">
                <div class="comment_item">
                    <div class="comment_image">
                        <img src="/public/assets/images/course/user.png" alt="">
                    </div>
                    <div class="comment_content">
                        <div class="comment_content_top">
                            <h5>Gia Thái</h5>
                            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="comment_content_bottom">
                            <p><i class="far fa-thumbs-up"></i> 59</p>
                            <p>36 replies</p>
                            <p>2 years</p>
                        </div>
                    </div>
                </div>
                <div class="comment_item">
                    <div class="comment_image">
                        <img src="/public/assets/images/course/kp.png" alt="">
                    </div>
                    <div class="comment_content">
                        <div class="comment_content_top">
                            <h5>Khoa Pug</h5>
                            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                        </div>
                        <div class="comment_content_bottom">
                            <p><i class="far fa-thumbs-up"></i> 22</p>
                            <p>34 replies</p>
                            <p>1 years</p>
                        </div>
                    </div>
                </div>
                <div class="comment_item">
                    <div class="comment_image">
                        <img src="/public/assets/images/course/vp.png" alt="">
                    </div>
                    <div class="comment_content">
                        <div class="comment_content_top">
                            <h5>Vương Phạm</h5>
                            <p>It was popularised in the 1960s with the release of Letraset sheets containing. </p>
                        </div>
                        <div class="comment_content_bottom">
                            <p><i class="far fa-thumbs-up"></i> 32</p>
                            <p>72 replies</p>
                            <p>1 years</p>
                        </div>
                    </div>
                </div>
                <div class="comment_item">
                    <div class="comment_image">
                        <img src="/public/assets/images/course/pnv.png" alt="">
                    </div>
                    <div class="comment_content">
                        <div class="comment_content_top">
                            <h5>Phạm Nhật Vượng</h5>
                            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="comment_content_bottom">
                            <p><i class="far fa-thumbs-up"></i> 59</p>
                            <p>36 replies</p>
                            <p>2 years</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        displayComment.addEventListener("click", function() {
            commnentPart.classList.add("display");
            lesson_overlay.style.display = "block"
        })


        hideComment.addEventListener("click", function() {
            setTimeout(() => {
                lesson_overlay.style.display = "none"
            }, 300)

            commnentPart.classList.remove("display");
        })


        lesson_overlay.addEventListener("click", function() {
            setTimeout(() => {
                lesson_overlay.style.display = "none"
            }, 300)

            commnentPart.classList.remove("display");
        })


        var lesson_item = document.getElementsByClassName('lesson_content1');
        var l = 0;
        next.onclick = () => {
            l++;
            
            for (var i of lesson_item) {
                if (l == 0) {
                    i.style.left = "0px";
                }
                if (l == 1) {
                    i.style.left = "-500px";
                }
                if (l == 2) {
                    i.style.left = "-1000px";
                }
                if (l == 3) {
                    i.style.left = "-1500px";
                }
                if (l > 3) {
                  l=3;
                }
            }
           let current = document.getElementById(l);
           current.classList.add("current");
           current.previousElementSibling.classList.remove("current");
        }

        back.onclick = () => {
            l--;
          
            for (var i of lesson_item) {
                if (l == 0) {
                  
                    i.style.left = "0px";
                }
                if (l == 1) {
                    i.style.left = "-500px";
                }
                if (l == 2) {
                    i.style.left = "-1000px";
                }
                if (l == 3) {
                    i.style.left = "-1500px";
                }

                if (l < 0) {
                    l = 0;
                }
            }

        let current = document.getElementById(l);
           current.classList.add("current");
           current.nextElementSibling.classList.remove("current");
        }

    </script>
</body>

</html>