<%- contentFor("head") %> 
<title>Tất cả khóa học</title>
<link rel="stylesheet" href="/public/stylesheets/pages/course/coursesList.css">

<%- contentFor("body") %> 

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 course_header">
                <div class="overlay_clip"></div>
                <h3>Bạn muốn học gì?</h3>
            </div>
        </div>
    
    </div>
    
    <div class="container">
        <div class="row">
            <a href="/courses/python" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/python.png" alt="">
                            </div>
    
                            <h6>Python cơ bản</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/c++.png" alt="">
                            </div>
    
                            <h6>C++</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/courses/javascript" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/js.png" alt="">
                            </div>
    
                            <h6>Javascript</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/react.png" alt="">
                            </div>
    
                            <h6>React + Redux</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/rwd.png" alt="">
                            </div>
    
                            <h6>Responsive</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/sql.png" alt="">
                            </div>
    
                            <h6>SQL server</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/swift.png" alt="">
                            </div>
    
                            <h6>Swift 4</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/angular.png" alt="">
                            </div>
    
                            <h6>Angular + NexJS</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/css.png" alt="">
                            </div>
    
                            <h6>CSS</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/datascience.png" alt="">
                            </div>
    
                            <h6>Khoa học dữ liệu</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/kl.png" alt="">
                            </div>
    
                            <h6>Kotlin</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/php.png" alt="">
                            </div>
    
                            <h6>PHP</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/pth1.png" alt="">
                            </div>
    
                            <h6>Python dành cho tài chính</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/c.png" alt="">
                            </div>
    
                            <h6>C</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/java.png" alt="">
                            </div>
    
                            <h6>Java</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-sm-3">
                <div class="cart_course">
                    <div class="box_courses">
                        <div class="content_courses">
                            <div class="courses_img">
                                <img src="/public/assets/images/course/jquery.png" alt="">
                            </div>
    
                            <h6>Jquery</h6>
                            <p>7.3M người học</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

