<%- contentFor("head") %> 
<title>Pyhton</title>
<link rel="stylesheet" href="/public/stylesheets/pages/course/coursePython.css">
<script src="/public/javascripts/courseDetail.js"></script>

<%- contentFor("body") %> 
<div class="container_detail_courses">
    <div class="detail_layout">
        <a href="/courses"><i class="fas fa-angle-left"></i>Trở lại</a>
    </div>
    <div class="detail_content">
        <div class="detail_head">
            <img src="/public/assets/images/course/js.png" alt="">
            <div class="detail_head_desc">
                <h2>JavaScipt</h2>
                <p>JavaScript là ngôn ngữ lập trình phổ biến nhất trên thế giới trong suốt 20 năm qua. Nó cũng là một trong số 3 ngôn ngữ chính của lập trình web. JavaScript có thể học nhanh và dễ dàng áp dụng cho nhiều mục đích khác nhau, từ việc cải thiện tính năng của website đến việc chạy game và tạo phần mềm nền web.</p>
            </div>
        </div>
        <div class="detail_body">
            <ul class="list-router">
                <li class="router_item">
                    <div class="router_item_head" id="itemHead">
                        <i class="fas fa-chart-pie"></i>
                        <h4>JavasScipt cơ bản</h4>
                        <i class="fas fa-angle-down" id="angleTop"></i>
                    </div>
                    <div class="router_item_content" id="itemContent">
                        <hr>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="/courses/javascript/lesson1" class="sl_group_link">
                                        <h5>1.1 Lý thuyết</h5>
                                        <p>Hello word</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>1.2 Luyện tập</h5>
                                        <p>Khai báo biến trong JavaScript</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>2.1 Lý thuyết</h5>
                                        <p>Toán tử và toán hạng</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>2.2 Lý thuyết</h5>
                                        <p>Toán tử điều kiện</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>2.3 Luyện tập</h5>
                                        <p>Phân biệt a++ và ++a</p>
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>3.1 Lý thuyết</h5>
                                        <p>Chuỗi trong JavaScript</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>4.1 Lý thuyết</h5>
                                        <p>Mảng</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>4.2 Luyện tập</h5>
                                        <p>Thao tác với Mảng</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>4.3 Luyện tập</h5>
                                        <p>Các hàm dùng với mảng</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>5.1 Lý thuyết</h5>
                                        <p>Vòng lặp For, While, For While, Do While</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>6.1 Lý thuyết</h5>
                                        <p>Các hàm filter(), Map(), Reduce(),...</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>6.1 Luyện tập</h5>
                                        <p>Bài tập với mảng</p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>7 Đồ án</h5>
                                        <p><i class="fas fa-bullseye"></i>Game con rắn với JavaScript</p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="router_item">
                    <div class="router_item_head" id="itemHead1">
                        <i class="fab fa-app-store-ios"></i>
                        <h4>JavaScript nâng cao</h4>
                        <i class="fas fa-angle-down" id="angleTop"></i>
                    </div>
                    <div class="router_item_content" id="itemContent1">
                        <hr>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="/courses/python/lesson1" class="sl_group_link">
                                        <h5>1.1 Lý thuyết</h5>
                                        <p>IIFE trong JavaScript là gì?</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="/courses/python/lesson1" class="sl_group_link">
                                        <h5>1.1 Lý thuyết</h5>
                                        <p>Callback, Promise, Async await</p>
                                    </a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>2.1 Lý thuyết</h5>
                                        <p>Scope</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>2.2 Lý thuyết</h5>
                                        <p>Closure</p>
                                    </a>
                                </li>                           
                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>3.1 Lý thuyết</h5>
                                        <p>Hoisting với let, const và var</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>3.2 Lý thuyết</h5>
                                        <p>Từ khóa this + arrow function + scope</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>3.3 Luyện tập</h5>
                                        <p>10 bài tập</p>
                                    </a>
                                </li>
                                

                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>4.1 Lý thuyết</h5>
                                        <p>Hàm bind()</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>4.2 Lý thuyết</h5>
                                        <p>Hàm call()</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>4.3 Lý thuyết</h5>
                                        <p>Hàm apply()</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>4.3 Luyện tập</h5>
                                        <p>bind()+call()+apply()</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>5.1 Lý thuyết</h5>
                                        <p>Destructuring trong JavaScript</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>5.1 Lý thuyết</h5>
                                        <p>Rest trong JavaScript</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>6.1 Lý thuyết</h5>
                                        <p>Fetch() API với JavaScript</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>6.1 Lý thuyết</h5>
                                        <p>Throw exception với JavaScript</p>
                                    </a>
                                </li>
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>6.1 Luyện tập</h5>
                                        <p>Fetch() API với Async</p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="sl_group">
                            <div class="sl_group_dot"></div>
                            <ul class="sl_group_list">
                                <li class="sl_group_item">
                                    <a href="" class="sl_group_link">
                                        <h5>7 Đồ án</h5>
                                        <p><i class="fas fa-bullseye"></i>Xây dựng ứng dụng bán hàng với API có sẵn</p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="router_item">
                    <div class="router_item_head">
                        <i class="fas fa-adjust"></i>
                        <h4>ReactJS cơ bản</h4>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </li>
                <li class="router_item">
                    <div class="router_item_head">
                        <i class="fas fa-book"></i>
                        <h4>ReactJS nâng cao</h4>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </li>
                <li class="router_item">
                    <div class="router_item_head">
                        <i class="fas fa-file-code"></i>
                        <h4>Lập trình web với TypeScript và ReactJS</h4>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </li>
                <li class="router_item">
                    <div class="router_item_head">
                        <i class="fas fa-clone"></i>
                        <h4>Các thư viện ReatJS được dùng nhiều nhất hiện nay</h4>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </li>
                <li class="router_item">
                    <div class="router_item_head">
                        <i class="fab fa-product-hunt"></i>
                        <h4>Xây dựng website bán hàng với TypeScript và ReactJS</h4>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/public/javascripts/courseDetail.js">
  
</script>
