
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/public/stylesheets/pages/course/coursePythonLesson1.css">

</head>

<body>
    <div class="wrap">
        <div class="lesson_header">
            <a href="/courses/python"><i class="fas fa-angle-left"></i>Trở lại khóa học</a>
            <div class="lesson_tap">
                <span class="current" id="0"></span>
                <span id="1"></span>
                <span id="2"></span>
                <span id="3"></span>
            </div>
            <p id="displayComment"><i class="fas fa-angle-left"></i>2087 comments</p>
        </div>
        <div class="lesson_bodoy">
            <div class="lesson_content">
                <div class="lesson_content1" >
                    <h4>Bài 1: "Hello world</h4>
                    <p>Hãy bắt đầu bằng cách tạo một chương trình ngắn hiển thị "Hello world!". Trong Python, chúng tôi sử dụng câu lệnh print để xuất ra văn bản.</p>
                    <div class="try_code">
                        <p>print('hello world')</p>
                        <button class="btn btn-primary">Thực hiện</button>
                    </div>
                    <p>Lưu ý rằng văn bản nên được đặt trong dấu <strong>ngoặc kép hoặc đơn.</strong></p>
                    <div class="warning">
                        <i class="fas fa-info-circle"></i>
                        <p>Câu lệnh print cần phải được theo sau bởi dấu ngoặc đơn, bao gồm đầu ra mà chúng ta muốn tạo.</p>
                    </div>
                </div>
                <div class="lesson_content1" >
                    <h4>Bài 2: Hiển thị nội dụng</h4>
                    <p>Câu lệnh in cũng có thể được sử dụng để xuất ra nhiều dòng văn bản</p>
                    <div class="try_code">
                        <p>print('hello world')</p>
                        <p>print('hello world')</p>
                        <p>print('Ngo Gia Thai')</p>
                        <button class="btn btn-primary">Thực hiện</button>
                    </div>
                    <p>Mỗi câu lệnh in xuất ra văn bản từ một dòng mới.</strong></p>
                    <div class="warning">
                        <i class="fas fa-info-circle"></i>
                        <p>Mã Python thường chứa các tham chiếu đến nhóm hài Monty Python. Đây là lý do tại sao các từ, "thư rác" và "trứng" thường được sử dụng làm biến giữ chỗ trong Python.</p>
                    </div>
                </div>
                <div class="lesson_content1">
                    <h4>Bài 3: Hiển thị nội dung</h4>
                    <p>Hãy bắt đầu bằng cách tạo một chương trình ngắn hiển thị "Hello world!". Trong Python, chúng tôi sử dụng câu lệnh print để xuất ra văn bản.
                    </p>
                    <div class="try_code">
                        <p>print('hello world')</p>
                        <p>print('hello world')</p>
                        <p>print('Ngo Gia Thai')</p>
                        <button class="btn btn-primary">Thực hiện</button>
                    </div>
                    <p>Lưu ý rằng văn bản nên được đặt trong dấu ngoặc kép hoặc đơn.</p>
                    <div class="warning">
                        <i class="fas fa-info-circle"></i>
                        <p>Câu lệnh print cần phải được theo sau bởi dấu ngoặc đơn, bao gồm đầu ra mà chúng ta muốn tạo.</p>
                    </div>
                </div>
                <div class="lesson_content1">
                    <h4>Bài 4: Hiển thị nội dung</h4>
                    <p>Hãy bắt đầu bằng cách tạo một chương trình ngắn hiển thị "Hello world!". Trong Python, chúng tôi sử dụng câu lệnh print để xuất ra văn bản.</p>
                    <div class="try_code">
                        <p>print('hello world')</p>
                        <p>print('Ngo Gia Thai')</p>
                        <button class="btn btn-primary">Thực hiện</button>
                    </div>
                    <p>Lưu ý rằng văn bản nên được đặt trong dấu ngoặc kép hoặc đơn.</p>
                    <div class="warning">
                        <i class="fas fa-info-circle"></i>
                        <p>Câu lệnh print cần phải được theo sau bởi dấu ngoặc đơn, bao gồm đầu ra mà chúng ta muốn tạo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lesson_footer">
            <button class="btn btn-light" id="back">Quay lại</button>
            <button class="btn btn-primary" id="next">Tiếp tục</button>

        </div>
        <div class="lesson_overlay" id="lesson_overlay">

        </div>
        <div class="sidebar_comment" id="commnentPart">
            <div class="comment_head">
                <div class="comment_head1">
                    <p id="hideComment">Ẩn<i class="fas fa-angle-right"></i></p>
                    <p>2087 bình luận</p>
                </div>
                <form action="">
                    <textarea name="" id="" cols="38" rows="3" placeholder="viết bình luận..."></textarea> <br>
                    <button type="submit" class="btn btn-primary">Đăng bình luận</button>
                </form>

            </div>
            <div class="comment_body">
                <div class="comment_item">
                    <div class="comment_image">
                        <img src="/public/assets/images/course/user.png" alt="">
                    </div>
                    <div class="comment_content">
                        <div class="comment_content_top">
                            <h5>Gia Thái</h5>
                            <p>Nó đã được phổ biến vào những năm 1960 với việc phát hành các tờ Letraset chứa các đoạn Lorem Ipsum, và gần đây là phần mềm xuất bản trên máy tính để bàn như Aldus PageMaker bao gồm các phiên bản của Lorem Ipsum.</p>
                        </div>
                        <div class="comment_content_bottom">
                            <p><i class="far fa-thumbs-up"></i> 59</p>
                            <p>36 phản hồi</p>
                            <p>2 năm</p>
                        </div>
                    </div>
                </div>
                <div class="comment_item">
                    <div class="comment_image">
                        <img src="/public/assets/images/course/kp.png" alt="">
                    </div>
                    <div class="comment_content">
                        <div class="comment_content_top">
                            <h5>Khoa Pug</h5>
                            <p>Nó được phổ biến vào những năm 1960 với việc phát hành các tờ Letraset chứa các đoạn Lorem Ipsum.</p>
                        </div>
                        <div class="comment_content_bottom">
                            <p><i class="far fa-thumbs-up"></i> 22</p>
                            <p>34 phản hồi</p>
                            <p>1 năm</p>
                        </div>
                    </div>
                </div>
                <div class="comment_item">
                    <div class="comment_image">
                        <img src="/public/assets/images/course/vp.png" alt="">
                    </div>
                    <div class="comment_content">
                        <div class="comment_content_top">
                            <h5>Vương Phạm</h5>
                            <p>Nó được phổ biến vào những năm 1960 với việc phát hành các tờ Letraset chứa các đoạn Lorem Ipsum.</p>
                        </div>
                        <div class="comment_content_bottom">
                            <p><i class="far fa-thumbs-up"></i> 32</p>
                            <p>72 phản hồi</p>
                            <p>1 năm</p>
                        </div>
                    </div>
                </div>
                <div class="comment_item">
                    <div class="comment_image">
                        <img src="/public/assets/images/course/pnv.png" alt="">
                    </div>
                    <div class="comment_content">
                        <div class="comment_content_top">
                            <h5>Phạm Nhật Vượng</h5>
                            <p>Nó đã được phổ biến vào những năm 1960 với việc phát hành các tờ Letraset chứa các đoạn Lorem Ipsum, và gần đây là phần mềm xuất bản trên máy tính để bàn như Aldus PageMaker bao gồm các phiên bản của Lorem Ipsum.</p>
                        </div>
                        <div class="comment_content_bottom">
                            <p><i class="far fa-thumbs-up"></i> 59</p>
                            <p>36 phản hồi</p>
                            <p>2 năm</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        displayComment.addEventListener("click", function() {
            commnentPart.classList.add("display");
            lesson_overlay.style.display = "block"
        })


        hideComment.addEventListener("click", function() {
            setTimeout(() => {
                lesson_overlay.style.display = "none"
            }, 300)

            commnentPart.classList.remove("display");
        })


        lesson_overlay.addEventListener("click", function() {
            setTimeout(() => {
                lesson_overlay.style.display = "none"
            }, 300)

            commnentPart.classList.remove("display");
        })


        var lesson_item = document.getElementsByClassName('lesson_content1');
        var l = 0;
        next.onclick = () => {
            l++;
            
            for (var i of lesson_item) {
                if (l == 0) {
                    i.style.left = "0px";
                }
                if (l == 1) {
                    i.style.left = "-500px";
                }
                if (l == 2) {
                    i.style.left = "-1000px";
                }
                if (l == 3) {
                    i.style.left = "-1500px";
                }
                if (l > 3) {
                  l=3;
                }
            }
           let current = document.getElementById(l);
           current.classList.add("current");
           current.previousElementSibling.classList.remove("current");
        }

        back.onclick = () => {
            l--;
          
            for (var i of lesson_item) {
                if (l == 0) {
                  
                    i.style.left = "0px";
                }
                if (l == 1) {
                    i.style.left = "-500px";
                }
                if (l == 2) {
                    i.style.left = "-1000px";
                }
                if (l == 3) {
                    i.style.left = "-1500px";
                }

                if (l < 0) {
                    l = 0;
                }
            }

        let current = document.getElementById(l);
           current.classList.add("current");
           current.nextElementSibling.classList.remove("current");
        }

    </script>
</body>

</html>